@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}
<style>
    .input-lg{
        max-width: 100%;
    }
    .btn-lg{
        max-width: 100%;
    }
    .loginForm{
        padding-top: 15%;
    }
</style>
<div class="col-md-12">
    <div class="loginForm">
        <div class="row">
            <div class="col-md-5">
                <section>
                    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <h4>Sign into your account.</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label sr-only"></label>
                            <div class=" input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa-2x"></i></span>
                                <input type="email" asp-for="Email" class="input-lg form-control" placeholder="Email" />                           
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label sr-only"></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-2x"></i></span>
                                <input type="password" asp-for="Password" class="input-lg form-control" placeholder="Password" />      
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <button type="submit" class="btn btn-lg btn-primary btn-block"><span class="fa fa-sign-in"></span> Log in</button>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @*@Html.DisplayNameFor(m => m.RememberMe)*@
                                    Remember Login
                                </label>
                            </div>
                        </div>
                        <p class="col-md-6">
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register</a> | 
                            <a asp-action="ForgotPassword">Forgot Password</a>
                        </p>
                    </form>
                </section>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <section>
                    <h4>Use another service to log in.</h4>
                    <hr />
                    @{
                        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-lg btn-block btn-outline-dark" name="provider" value="@provider.Name" data-toggle="tooltip" data-placement="bottom" title="Log in using your @provider.DisplayName account">
                                            @if (provider.Name.Equals("Microsoft"))
                                            {
                                                <span><img alt="Microsoft" src="https://assets.onestore.ms/cdnfiles/external/uhf/long/9a49a7e9d8e881327e81b9eb43dabc01de70a9bb/images/microsoft-gray.png" itemprop="logo" itemscope="itemscope" style="height:1.5rem;"></span>
                                            }
                                        </button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                </section>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
}
