@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}
<style>
    .input-lg{
        max-width: 100%;
    }
    .btn-lg{
        max-width: 100%;
    }
    .loginForm {
        background-color: #F6F6F6;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }
    .vertical-divider {
        border-left: 1px solid #E0E0E0;
        min-width: 1px;
        max-width: 1px;
        max-height: 22rem;
        min-height: 22rem;
        align-self:center;
    }
</style>
<div class="col-md-12">
        <div style="padding-top:5%"></div>
        <div class="loginForm sr-only">
            <div class="row">
                <div class="col-md-12">
                    @*<h4>DentaQuest Report Tracker</h4>*@
                    <br />
                </div>
            </div>
            <div class="row">
                <div id="loginSection" class="col-md-5">
                    <section >
                        <form asp-controller="Account" id="loginFormSection" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <h4>Sign into your account.</h4>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label sr-only"></label>
                                <div class=" input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa-2x"></i></span>
                                    <input type="email" asp-for="Email" class="input-lg form-control" placeholder="Email" />
                                </div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label sr-only"></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-2x"></i></span>
                                    <input type="password" asp-for="Password" class="input-lg form-control" placeholder="Password" />
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <button id="loginButton" type="submit" class="btn btn-lg btn-primary btn-block"><span id="loginIcon" class="fa fa-sign-in"></span> Log in</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div>
                                @*<a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register</a> |*@ 
                                <noscript><a class="btn btn-info" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register</a></noscript>
                                <button type="button" class="btn btn-info" id="registerLink">Register</button>
                                <a class="btn btn-info" asp-action="ForgotPassword">Forgot Password</a>
                            </div>
                        </form>
                    </section>            
                </div>
                <div id="registerPartialView" class="sr-only col-md-5">
                    @await Html.PartialAsync(partialViewName: "RegisterLogin", model: new RegisterViewModel())
                </div>
                <div class="col-md-2" style="padding-left: 8%;">
                    <hr class="text-right align-items-end align-content-end vertical-divider" />
                </div>
                <div class="col-md-5" id="externalLogin">
                    <section>
                        <h4>Use another service to log in.</h4>
                        <hr />
                        @{
                            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in loginProviders)
                                        {
                                            <div class="btn-group btn-block">
                                                @if (provider.Name.Equals("Microsoft"))
                                                {
                                                    <span class="bg-primary text-light input-group-addon fa fa-2x text-center fa-windows">@*<img alt="Microsoft" src="https://assets.onestore.ms/cdnfiles/external/uhf/long/9a49a7e9d8e881327e81b9eb43dabc01de70a9bb/images/microsoft-gray.png" itemprop="logo" itemscope="itemscope" style="height:1.5rem;">*@</span>
                                                }
                                                <button type="submit" class="btn btn-lg btn-block btn-primary" name="provider" value="@provider.Name" data-toggle="tooltip" data-placement="bottom" title="Log in using your @provider.DisplayName account">
                                                    @provider.Name
                                                </button>
                                            </div>
                                            
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    </section>
                </div>
            </div>
        </div>
</div>

@section scripts {
    <script>

        $(document).ready(function () {
            $('.loginForm').hide(0, function () {
                $(this).removeClass('sr-only');
                $(this).show(500);
            });
            $('#registerPartialView').hide();
            $('#registerLink').click(function () {
                $('#loginSection').slideUp(500, function () {
                    $('#registerPartialView').removeClass('sr-only');
                    $('#registerPartialView').slideDown(500);
                });
            });
            $('#loginLink').click(function () {
                $('#registerPartialView').slideUp(500, function () {
                    $('#registerPartialView').addClass('sr-only');
                    $('#loginSection').slideDown(500);
                });
            });
        });
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
