@using ReportOverviewApp.Models;
@model IEnumerable<ReportDeadline>
@{
    ViewData["Title"] = "Deadlines";
}
<style>
    #cards > .card{
        transition: all 0.3s ease-in-out;
    }
    /*.card.bg-danger:hover{
        box-shadow: 0rem 0rem 0.45rem #e81c00
    }
    .card.bg-success:hover{
        box-shadow: 0rem 0rem 0.45rem #0ec80b
    }
    .card.bg-warning:hover{
        box-shadow: 0rem 0rem 0.45rem #dfc506
    }*/
    #cards > .card:hover{
        /*transform: scale(1.05);*/
        box-shadow: 0rem 0rem 0.3rem #0073dc
    }
    li.list-group-item {
        transition: all 0.3s;
    }
    input.form-control::placeholder{
        font-family: 'Font Awesome 5 Free Solid';
    }
</style>
<div class="row col-md-12">
    <h4 style="display: inline-block">
        Status of Reports
    </h4>
</div>
<div class="row col-md-12">
    @{
        Dictionary<int, string> months = new Dictionary<int, string>();
        months.Add(0, "[All Months]");
        months.Add(1, "January");
        months.Add(2, "February");
        months.Add(3, "March");
        months.Add(4, "April");
        months.Add(5, "May");
        months.Add(6, "June");
        months.Add(7, "July");
        months.Add(8, "August");
        months.Add(9, "September");
        months.Add(10, "October");
        months.Add(11, "November");
        months.Add(12, "December");
        DateTime currentDate = DateTime.Today;
    }
    @{int? selectedYear = ViewData["year"] as int? == null ? currentDate.Year : ViewData["year"] as int?;}
    @{int? selectedMonth = ViewData["month"] as int? == null ? currentDate.Month : ViewData["month"] as int?; }
    <select id="selectMonth" class="form-control custom-select form-inline col-md-2">
        @foreach (var month in months)
        {
            if (selectedMonth == month.Key)
            {
                <option value="@month.Key" selected>@month.Value</option>
            }
            else
            {
                <option value="@month.Key">@month.Value</option>
            }
        }
    </select>
    <div style="padding-left: 0.5rem;"></div>
    <input id="selectYear" class="form-control form-inline col-md-2" type="number" value="@selectedYear.Value" />
    <div style="padding-left: 0.5rem;"></div>
    <select id="selectPlan" class="form-control custom-select form-inline col-md-3" asp-items="ViewBag.selectPlan">
        <option value="">[All Plans]</option>
    </select>
    <div class="btn-group" style="padding-left: 0.5rem;">
        <button id="changeButton" type="button" class="btn btn-primary"><i class="fas fa-search text-light"></i>&nbsp;&nbsp;Search</button>

        <button id="showAllButton" type="button" class="btn btn-primary"><i class="fas fa-expand text-light"></i>&nbsp;&nbsp;Show all</button>

        <button id="hideAllButton" type="button" class="btn btn-primary"><i class="fas fa-minus text-light"></i>&nbsp;&nbsp;Hide all</button>

        <button id="viewButton" type="button" class="btn btn-primary"><i class="fas fa-th text-light"></i></button>
    </div>
    <div class="btn-group" style="padding-left: 0.5rem;">
        <span id="loadingIcon"></span>
    </div>
</div>
<hr />
@{
    var today = DateTime.Today;
    var tomorrow = DateTime.Today.AddDays(1);
}
@*@if (Model == null || Model.Count() == 0)
{
    <h6 class="alert alert-warning">No Upcoming Reports Found</h6>
}*@
<div id="status"></div>
<div id="cardTemplate" style="display:none;">
    <div class="card">
        <div class="card-header">
            <h6 class="deadline" style="display: inline-block;"></h6>
            <div class="options col-md-1" style="display:inline-block;position:absolute; vertical-align:middle; right: 1.0rem;">
                <span class="toggleIcon" data-toggle="collapse"><i class="fas fa-chevron-up toggle"></i></span>
            </div>
            <input class="card-search form-control align-self-center bg-dark text-light" type="text" style="display: inline-block; padding-top:0.25rem; padding-bottom:0.25rem; opacity: 0.85;" placeholder="&#xF002;" />
        </div>
        <div class="panel-collapse collapse">
            <ul class="card-contents list-group list-group-flush">
            </ul>
        </div>
        <div class="card-footer">
            <h6><strong class="reportCount"></strong></h6>
            <h6><strong class="completionCount"></strong></h6>
            <h6><strong class="completionRate"></strong></h6>
            <div class="progress progress-background-custom" style="height: 5px;">
                <div class="progress-bar" role="progressbar">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="cardItemGroupTemplate" style="display:none;">
    <li class="list-group-item">
        <h6 class="text-center"><strong class="plans"></strong></h6>
    </li>
</div>
<div id="cardItemListTemplate" style="display:none;">
    
    <li class="list-group-item report-item">
        <ul class="list-inline">
            <li class="list-inline-item reportName">
            </li>


            <li class="list-inline-item">
                <span>
                    <a class="editReportDeadlineLink" asp-action="EditReportDeadline" data-toggle="modal" data-target="#editReportDeadlineModal"><span class="fas fa-calendar-alt text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title=""></span></a>
                    <a class="editReportLink" asp-action="EditReport" data-toggle="modal" data-target="#editReportModal"><span class="fas fa-edit text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title=""></span></a>
                    <a class="viewReportLink" asp-action="Details"><span class="fas fa-book text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title=""></span></a>
                    <a class="deleteReportLink" asp-action="DeleteReport" data-toggle="modal" data-target="#deleteReportModal"><span class="fas fa-eraser text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title=""></span></a>
                </span>

            </li>
            
        </ul>
        <ul class="list-inline report-item-status">
            <li class="list-inline-item">
                <p>Ran <span><i class="ran"></i></span></p>
            </li>
            <li class="list-inline-item">
                <p class->Approved <span><i class="approved"></i></span></p>
            </li>
            <li class="list-inline-item">
                <p>Sent <span><i class="sent"></i></span></p>
            </li>
            <li class="list-inline-item float-right align-top" style="padding-left: 1rem;">
                <span class="badge badge-pill badge-primary"><span class="frequency"></span></span>
            </li>
        </ul>
    </li>
</div>
<div id="alertSuccessTemplate" style="display:none;">
    <div class="alert alert-success alert-dismissible fade show col-md-12" role="alert">
        <span class="alertMessage"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="fas fa-times" aria-hidden="true"></span>
        </button>
    </div>
</div>
<div id="alertWarningTemplate" style="display:none;">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <span class="alertMessage"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="fas fa-times" aria-hidden="true"></span>
        </button>
    </div>
</div>
<div id="alertDangerTemplate" style="display:none;">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="alertMessage"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="fas fa-times" aria-hidden="true"></span>
        </button>
    </div>
</div>
<div id="selectedCard">

</div>
<div id="cards" class="card-columns">
    @*<noscript>
            @for (int i = 0; i < Model.Select(rd => rd.Deadline).Distinct().Count(); i++)
    {
        DateTime d = Model.Select(rd => rd.Deadline).Distinct().ElementAt(i);
        <div class="card">
            <div class="card-header">
                <h6 class="title" style="display: inline-block;">
                    @if (d == today)
                    {
                        <text>Today</text>
                    }
                    else if (d == tomorrow)
                    {
                        <text>Tomorrow</text>
                    }
                    else
                    {
                        @d.ToShortDateString()
                    }
                </h6>
                <div class="options" style="display:inline-block;position:absolute; vertical-align:middle; right: 0.5rem;">
                    <span><i class="fas fa-check-circle"></i></span>
                    <span class="toggleIcon" data-toggle="collapse" data-target="#list-@i"><i class="fas fa-chevron-down" ></i></span>
                    <span><i class="fas fa-times-circle"></i></span>
                </div>
            </div>
            <div class="collapse show list-collapsable" id="list-@i">
                <ul class="list-group list-group-flush">
                    @foreach (ReportDeadline rd in Model.Select(rd => rd).Where(rd => rd.Deadline == d))
                    {
                        <li class="list-group-item report-item">
                            <ul class="list-inline ">
                                <li class="list-inline-item">
                                    @rd.Report.Name
                                </li>
                                <li class="list-inline-item">
                                    <span>
                                        <a class="editReportDeadlineLink" asp-action="EditReportDeadline" asp-route-id="@rd.Id" data-toggle="modal" data-target="#editReportDeadlineModal"><span class="fas fa-calendar-alt text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title="Edit:  Report Deadline (@rd.Deadline.ToShortDateString())"></span></a>
                                        <a class="editReportLink" asp-action="EditReport" asp-route-id="@rd.ReportId" data-toggle="modal" data-target="#editReportModal"><span class="fas fa-edit text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title="Edit:  @rd.Report.Name"></span></a>
                                        <a asp-action="Details" asp-route-id="@rd.Report.Id"><span class="fas fa-book text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title="View:   @rd.Report.Name"></span></a>
                                        <a class="deleteReportLink" asp-action="DeleteReport" asp-route-id="@rd.ReportId" data-toggle="modal" data-target="#deleteReportModal"><span class="fas fa-eraser text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title="Delete:   @rd.Report.Name"></span></a>
                                    </span>
                                </li>
                            </ul>
                            <ul class="list-inline report-item-status">
                                <li class="list-inline-item">
                                    <p>Ran <span>@if (rd.HasRun)
                                    {<i class="far fa-check-circle text-success"></i> }
                                    else
                                    {<i class="far fa-circle text-info"></i>}</span></p>
                                </li>
                                <li class="list-inline-item">
                                    <p>Approved <span>@if (rd.IsApproved)
                                    {<i class="far fa-check-circle text-success"></i> }
                                    else
                                    {<i class="far fa-circle text-info"></i>}</span></p>
                                </li>
                                <li class="list-inline-item">
                                    <p>Sent <span>@if (rd.IsSent)
                                    {<i class="far fa-check-circle text-success"></i> }
                                    else
                                    {<i class="far fa-circle text-info"></i>}</span></p>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
    </noscript>*@

</div>
<div id="editReportDeadlineModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="editReportDeadlineContainer">
                @await Component.InvokeAsync(name: "EditReportDeadline")
            </div>
        </div>
    </div>
</div>
<div id="editReportModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="editReportContainer">
                @await Component.InvokeAsync(name: "EditReport")
            </div>

        </div>
    </div>
</div>
<div id="deleteReportModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="deleteReportContainer">
                @await Component.InvokeAsync(name: "DeleteReport")
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/Reports/ReportsHandler.js"></script>
    <script type="text/javascript" src="~/js/Reports/Deadlines.js"></script>

}