@using ReportOverviewApp.Models;
@model IEnumerable<ReportDeadline>
@{
    ViewData["Title"] = "Deadlines";
}
<div class="row col-md-12">
    <h4 style="display: inline-block">
        Status of Reports
    </h4>
</div>
<div class="row col-md-12">
    @{
        Dictionary<int, string> months = new Dictionary<int, string>();
        months.Add(1, "January");
        months.Add(2, "February");
        months.Add(3, "March");
        months.Add(4, "April");
        months.Add(5, "May");
        months.Add(6, "June");
        months.Add(7, "July");
        months.Add(8, "August");
        months.Add(9, "September");
        months.Add(10, "October");
        months.Add(11, "November");
        months.Add(12, "December");
        DateTime currentDate = DateTime.Today;
    }
    @{int? selectedYear = ViewData["year"] as int? == null ? currentDate.Year : ViewData["year"] as int?;}
    @{int? selectedMonth = ViewData["month"] as int? == null ? currentDate.Month : ViewData["month"] as int?; }
    <select id="selectMonth" class="form-control custom-select form-inline col-md-2">
        @foreach (var month in months)
        {
            if (selectedMonth == month.Key)
            {
                <option value="@month.Key" selected>@month.Value</option>
            }
            else
            {
                <option value="@month.Key">@month.Value</option>
            }
        }
    </select>

    <div style="padding-left: 0.8rem;"></div>
    <input id="selectYear" class="form-control form-inline col-md-2" type="number" value="@selectedYear.Value" />
    <div style="padding-left: 0.8rem;"></div>
    <button id="changeButton" type="button" class="btn btn-primary"><i class="fas fa-search text-light"></i>&nbsp;&nbsp;Search</button>
    <div style="padding-left: 0.8rem;"></div>
    <button id="showAllButton" type="button" class="btn btn-primary"><i class="fas fa-expand text-light"></i>&nbsp;&nbsp;Show all</button>
    <div style="padding-left: 0.8rem;"></div>
    <button id="hideAllButton" type="button" class="btn btn-primary"><i class="fas fa-minus text-light"></i>&nbsp;&nbsp;Hide all</button>
    <div style="padding-left: 0.8rem;"></div>
    <button id="viewButton" type="button" class="btn btn-primary"><i class="fas fa-th text-light"></i></button>
    <div style="padding-left: 0.8rem;"></div>
    <span id="loadingIcon"></span>
</div>
<hr />
@{
    var today = DateTime.Today;
    var tomorrow = DateTime.Today.AddDays(1);
}
@*@if (Model == null || Model.Count() == 0)
{
    <h6 class="alert alert-warning">No Upcoming Reports Found</h6>
}*@
<div id="status"></div>
<div id="cardTemplate" style="display:none;">
    <div class="card">
        <div class="card-header">
            <h6 class="deadline" style="display: inline-block;"></h6>
            <div class="options" style="display:inline-block;position:absolute; vertical-align:middle; right: 0.5rem;">
                <span class="markAll"><i class="fas fa-check-circle"></i></span>
                <span class="toggleIcon" data-toggle="collapse"><i class="fas fa-chevron-up"></i></span>
                <span class="deleteAll"><i class="fas fa-times-circle"></i></span>
            </div>
        </div>
        <div class="panel-collapse collapse">
            <ul class="card-contents list-group list-group-flush">
            </ul>
        </div>
    </div>
</div>
<div id="cardItemListTemplate" style="display:none;">
    
            <li class="list-group-item report-item">
                <ul class="list-inline ">
                    <li class="list-inline-item reportName">
                    </li>
                    <li class="list-inline-item">
                        <span>
                            <a class="editReportDeadlineLink" asp-action="EditReportDeadline" data-toggle="modal" data-target="#editReportDeadlineModal"><span class="fas fa-calendar-alt text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title=""></span></a>
                            <a class="editReportLink" asp-action="EditReport" data-toggle="modal" data-target="#editReportModal"><span class="fas fa-edit text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title=""></span></a>
                            <a class="viewReportLink" asp-action="Details" ><span class="fas fa-book text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title=""></span></a>
                            <a class="deleteReportLink" asp-action="DeleteReport" data-toggle="modal" data-target="#deleteReportModal"><span class="fas fa-eraser text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title=""></span></a>
                        </span>
                    </li>
                </ul>
                <ul class="list-inline report-item-status">
                    <li class="list-inline-item">
                        <p>Ran <span><i class="ran"></i></span></p>
                    </li>
                    <li class="list-inline-item">
                        <p class->Approved <span><i class="approved"></i></span></p>
                    </li>
                    <li class="list-inline-item">
                        <p>Sent <span><i class="sent"></i></span></p>
                    </li>
                </ul>
            </li>
</div>
<div id="alertSuccessTemplate" style="display:none;">
    <div class="alert alert-success alert-dismissible fade show col-md-12" role="alert">
        <span class="alertMessage"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="fas fa-times" aria-hidden="true"></span>
        </button>
    </div>
</div>
<div id="alertWarningTemplate" style="display:none;">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <span class="alertMessage"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="fas fa-times" aria-hidden="true"></span>
        </button>
    </div>
</div>
<div id="alertDangerTemplate" style="display:none;">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="alertMessage"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="fas fa-times" aria-hidden="true"></span>
        </button>
    </div>
</div>
<div id="cards" class="card-columns">
    @*<noscript>
            @for (int i = 0; i < Model.Select(rd => rd.Deadline).Distinct().Count(); i++)
    {
        DateTime d = Model.Select(rd => rd.Deadline).Distinct().ElementAt(i);
        <div class="card">
            <div class="card-header">
                <h6 class="title" style="display: inline-block;">
                    @if (d == today)
                    {
                        <text>Today</text>
                    }
                    else if (d == tomorrow)
                    {
                        <text>Tomorrow</text>
                    }
                    else
                    {
                        @d.ToShortDateString()
                    }
                </h6>
                <div class="options" style="display:inline-block;position:absolute; vertical-align:middle; right: 0.5rem;">
                    <span><i class="fas fa-check-circle"></i></span>
                    <span class="toggleIcon" data-toggle="collapse" data-target="#list-@i"><i class="fas fa-chevron-down" ></i></span>
                    <span><i class="fas fa-times-circle"></i></span>
                </div>
            </div>
            <div class="collapse show list-collapsable" id="list-@i">
                <ul class="list-group list-group-flush">
                    @foreach (ReportDeadline rd in Model.Select(rd => rd).Where(rd => rd.Deadline == d))
                    {
                        <li class="list-group-item report-item">
                            <ul class="list-inline ">
                                <li class="list-inline-item">
                                    @rd.Report.Name
                                </li>
                                <li class="list-inline-item">
                                    <span>
                                        <a class="editReportDeadlineLink" asp-action="EditReportDeadline" asp-route-id="@rd.Id" data-toggle="modal" data-target="#editReportDeadlineModal"><span class="fas fa-calendar-alt text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title="Edit:  Report Deadline (@rd.Deadline.ToShortDateString())"></span></a>
                                        <a class="editReportLink" asp-action="EditReport" asp-route-id="@rd.ReportId" data-toggle="modal" data-target="#editReportModal"><span class="fas fa-edit text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title="Edit:  @rd.Report.Name"></span></a>
                                        <a asp-action="Details" asp-route-id="@rd.Report.Id"><span class="fas fa-book text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title="View:   @rd.Report.Name"></span></a>
                                        <a class="deleteReportLink" asp-action="DeleteReport" asp-route-id="@rd.ReportId" data-toggle="modal" data-target="#deleteReportModal"><span class="fas fa-eraser text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title="Delete:   @rd.Report.Name"></span></a>
                                    </span>
                                </li>
                            </ul>
                            <ul class="list-inline report-item-status">
                                <li class="list-inline-item">
                                    <p>Ran <span>@if (rd.HasRun)
                                    {<i class="far fa-check-circle text-success"></i> }
                                    else
                                    {<i class="far fa-circle text-info"></i>}</span></p>
                                </li>
                                <li class="list-inline-item">
                                    <p>Approved <span>@if (rd.IsApproved)
                                    {<i class="far fa-check-circle text-success"></i> }
                                    else
                                    {<i class="far fa-circle text-info"></i>}</span></p>
                                </li>
                                <li class="list-inline-item">
                                    <p>Sent <span>@if (rd.IsSent)
                                    {<i class="far fa-check-circle text-success"></i> }
                                    else
                                    {<i class="far fa-circle text-info"></i>}</span></p>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
    </noscript>*@

</div>
<div id="editReportDeadlineModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="editReportDeadlineContainer">
                @await Component.InvokeAsync(name: "EditReportDeadline")
            </div>
        </div>
    </div>
</div>
<div id="editReportModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="editReportContainer">
                @await Component.InvokeAsync(name: "EditReport")
            </div>

        </div>
    </div>
</div>
<div id="deleteReportModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="deleteReportContainer">
                @await Component.InvokeAsync(name: "DeleteReport")
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/ReportsHandler.js"></script>
    <script>
        $('#viewButton').click(function () {
            $('#cards').toggleClass('card-columns');
        });
        $('.panel-collapse').on('hidden.bs.collapse', function () {
            $(this).prev('.card-header').children('.options').children('.toggleIcon').children('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
        });
        $('.panel-collapse').on('shown.bs.collapse', function () {
            $(this).prev('.card-header').children('.options').children('.toggleIcon').children('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
        });
        $('#showAllButton').click(function () { $('.list-collapsable').collapse('show'); });
        $('#hideAllButton').click(function () { $('.list-collapsable').collapse('hide'); });
        $('.markIncomplete').click(function () {
            unmarkAll($(this).parent().prev('.deadline').text());
        });
        $('.markAll').click(function () {
            let icon = $(this).find('i').attr('class');
            let date = $(this).parent().prev('.deadline').text();
            if (icon === 'fas fa-check-circle') {
                markAll(date);
            } else if (icon === 'fas fa-minus-circle') {
                unmarkAll(date);
            } else return false;
            return true;
        });
        function markAll(date) {
            $.ajax({
                type: 'POST',
                url: '/Data/MarkAll',
                data: { dateTime: new Date(date).toJSON(), complete: true },
                dataType: 'json',
                success: function (data) {
                    let alertMsg = $('#alertSuccessTemplate').children().clone(true);
                    $(alertMsg).find('.alertMessage').html(data.message);
                    $('#status').html(alertMsg);
                    retriveReports($('#selectYear').val(), $('#selectMonth').find(':selected').val());
                },
                error: function (a, b, c) {
                    let alertMsg = $('#alertDangerTemplate').children().clone(true);
                    $(alertMsg).find('.alertMessage').html(c);
                    $('#status').html(alertMsg);
                }
            });
        }
        function unmarkAll(date) {
            $.ajax({
                type: 'POST',
                url: '/Data/MarkAll',
                data: { dateTime: new Date(date).toJSON(), complete: false },
                dataType: 'json',
                success: function (data) {
                    let alertMsg = $('#alertSuccessTemplate').children().clone(true);
                    $(alertMsg).find('.alertMessage').html(data.message);
                    $('#status').html(alertMsg);
                    retriveReports($('#selectYear').val(), $('#selectMonth').find(':selected').val());
                },
                error: function (a, b, c) {
                    let alertMsg = $('#alertDangerTemplate').children().clone(true);
                    $(alertMsg).find('.alertMessage').html(c);
                    $('#status').html(alertMsg);
                }
            });
        }
        function deleteAll(date) {
            $.ajax({
                type: 'DELETE',
                url: '/Data/DeleteAll',
                data: { dateTime: new Date(date).toJSON() },
                dataType: 'json',
                success: function (data) {
                    let alertMsg = $('#alertWarningTemplate').children().clone(true);
                    $(alertMsg).find('.alertMessage').html(data.message);
                    $('#status').html(alertMsg);
                    retriveReports($('#selectYear').val(), $('#selectMonth').find(':selected').val());
                },
                error: function (a, b, c) {
                    let alertMsg = $('#alertDangerTemplate').children().clone(true);
                    $(alertMsg).find('.alertMessage').html(c);
                    $('#status').html(alertMsg);
                }
            });
        }
        $('.deleteAll').click(function () {
            deleteAll($(this).parent().prev('.deadline').text());
        });
        $('#changeButton').click(function () {
            $('#status').children().fadeOut(200);
            retriveReports($('#selectYear').val(), $('#selectMonth').find(':selected').val());
        });
        function retriveReports(year, month, lastEditedDate) {
            $('#loadingIcon').html('<i class="fas fa-cog fa-2x ld ld-spin"></i>');
            $('button').prop('disabled', true);
            $.ajax({
                type: 'GET',
                url: '/Data/GetReportDeadlines?',
                data: {year: year, month: month},
                dataType: 'json',
                success: function (data) {
                    history.replaceState(null, null, '/Reports/Deadlines?month=' + month + '&year=' + year);
                    if ($(data).length > 0) {
                        let groups = groupBy(data, 'Deadline');
                        let items = [];
                        $(groups).each(function (i, e) {
                            $.each(e, function (j, f) {
                                items.push(buildCard(j, f, lastEditedDate));
                            });
                        });
                        $('#loadingIcon').find('i').fadeOut(200, function () {
                            $('#cards').html(items);
                        });
                    } else {
                        $('#loadingIcon').find('i').fadeOut(200, function () {
                            $('#status').html('<div class="alert alert-warning">Message: No deadlines found</div>');
                            $('#cards').children().hide();
                        });
                    };
                    $('button').prop('disabled', false);
                },
                error: function (a, b, c) {
                    $('#loadingIcon').find('i').fadeOut(200, function () {
                        $('#status').html('<div class="alert alert-danger">' + c + '</div>');
                        $('#cards').children().hide();
                    });
                    $('button').prop('disabled', false);
                }
            });

        }
        function convertDate(inputFormat) {
            function pad(s) { return (s < 10) ? '0' + s : s; }
            var d = new Date(inputFormat);
            return [pad(d.getMonth() + 1), pad(d.getDate()), d.getFullYear()].join('/');
        }
        function buildCard(key, data, lastEditedDate) {
            let keyDate = new Date(key);
            let card = $('#cardTemplate').children().clone(true);
            $(card).find('.toggleIcon').attr('data-target', '#' + 'list' + convertDate(key).replace('/', '-').replace('/', '-'));
            $(card).find('.toggleIcon').attr('aria-controls', 'list' + convertDate(key).replace('/', '-').replace('/', '-'));
            $(card).find('.panel-collapse').attr('id', 'list' + convertDate(key).replace('/', '-').replace('/', '-'));
            $(card).find('.panel-collapse').addClass('list-collapsable');
            if (convertDate(new Date(key)) === lastEditedDate) {
                $(card).find('.panel-collapse').addClass('show');
                $(card).find('.toggleIcon').find('i').removeClass('fas fa-chevron-up').addClass('fas fa-chevron-down');
            }
            let reports = [];
            $.each(data, function (k, l) { reports.push(buildCardContent(k, l));});
            $(card).find('.card-contents').html(reports);
            setCardStatus(card, key, data);
            return card;
        }
        function buildCardContent(key, report) {
            let content = $('#cardItemListTemplate').children().clone(true);
            $(content).find('.reportName').text(report.Name);
            setIcon($(content).find('.ran'), report.HasRun);
            setIcon($(content).find('.approved'), report.IsApproved);
            setIcon($(content).find('.sent'), report.IsSent);
            setRouteId($(content).find('.editReportDeadlineLink'), report.Id);
            setRouteId($(content).find('.editReportLink'), report.ReportId);
            setRouteId($(content).find('.viewReportLink'), report.ReportId);
            setRouteId($(content).find('.deleteReportLink'), report.ReportId);
            return content;
        }
        function groupBy(items, key) {
            return items.reduce(
                function (acc, x) { (acc[x[key]] = acc[x[key]] || []).push(x); return acc; }, {});
        };
        function setRouteId(link, id) {
            let url = $(link).attr('href');
            $(link).attr('href', url + '/' + id);

        }
        function setCardStatus(card, key, data) {
            let date = new Date();
            let dateKey = new Date(key);
            let okay = true;
            $.each(data, function (k, l) { okay = okay && checkMissing(l); });
            $(card).find('.deadline').text(convertDate(dateKey))
            if (convertDate(dateKey) === convertDate(date)) {
                $(card).find('.deadline').append(' (Today)');
                if (!okay) {
                    $(card).find('.card-header').addClass('text-dark');
                    $(card).addClass('bg-warning');
                } else {
                    $(card).find('.card-header').addClass('text-light');
                    $(card).addClass('bg-success');
                    $(card).find('.markAll').find('i').removeClass('fas fa-check-circle').addClass('fas fa-minus-circle');
                    
                }
                $(card).addClass('bg-warning');
                $(card).find('.card-header').addClass('text-dark');
            } else if (dateKey < date) {
                if (!okay) {
                    $(card).find('.card-header').addClass('text-light');
                    $(card).addClass('bg-danger');
                } else {
                    $(card).find('.card-header').addClass('text-light');
                    $(card).addClass('bg-success');
                    $(card).find('.markAll').find('i').removeClass('fas fa-check-circle').addClass('fas fa-minus-circle');
                    
                }
            }
            else {
                if (okay) {
                    $(card).find('.card-header').addClass('text-light');
                    $(card).addClass('bg-success');
                    $(card).find('.markAll').find('i').removeClass('fas fa-check-circle').addClass('fas fa-minus-circle');
                   
                }
            }
            
        }
        function checkMissing(report) {
            return report.HasRun && report.IsApproved && report.IsSent;
        }
        function setIcon(icon, data) {
            if (data) {
                $(icon).html('<i class="far fa-check-circle text-success"></i>');
            } else {
                $(icon).html('<i class="far fa-circle text-info"></i>');
            }
        }
        function initialize() {
            retriveReports($('#selectYear').val(), $('#selectMonth').find(':selected').val());
        }
        initialize();
    </script>

}