@model ReportOverviewApp.Models.Report

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateDue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateDue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Frequency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateDone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateDone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateClientNotified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateClientNotified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateSent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateSent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
