@using ReportOverviewApp.Models.ReportViewModels
@using ReportOverviewApp.Models
@model IEnumerable<Report>


@{
    ViewData["Title"] = "Reporting Catalogue";
}


<style>
    input:not([type="checkbox"]), textarea, select{
        min-width: 100%;
    }
    input.search::placeholder {
        font-family: 'Font Awesome 5 Free Solid';
    }
    input.search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-family: 'Font Awesome 5 Free Solid';
    }

    input.search::-moz-placeholder { /* Firefox 19+ */
        font-family: 'Font Awesome 5 Free Solid';
    }

    input.search:-ms-input-placeholder { /* IE 10+ */
        font-family: 'Font Awesome 5 Free Solid';
    }

    input.search:-moz-placeholder { /* Firefox 18- */
        font-family: 'Font Awesome 5 Free Solid';
    }
</style>
<h4>
    Reporting Catalogue
    <span class="float-right">
        <button id="create" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal" aria-label="Left Align"><span class="fas fa-plus-square"></span>&nbsp;&nbsp;Create New</button>
        <button class="btn btn-primary exportLink" type="button" data-toggle="modal" data-target="#exportModal"><span class="fas fa-file-excel"></span>&nbsp;&nbsp;Export</button>
    </span>
    
    <span id="loading"></span>
</h4>
<div id="inputs" style="display:none;">
    <input id="viewId" value="@ViewData["id"]" hidden />
    <input id="viewName" value="@ViewData["name"]" />
    <input id="viewSort" value="@ViewData["sort"]" hidden />
    <input id="viewFrequency" value="@ViewData["frequency"]" hidden />
    <input id="viewFrequency" value="@ViewData["isTermed"]" hidden />
    <input id="viewPage" value="@ViewData["page"]" hidden />
    <input id="viewTake" value="@ViewData["take"]" hidden />
</div>
<div id="alert-template" style="display:none;">
    <div class="alert alert-danger"></div>
    <div class="alert alert-warning"></div>
    <div class="alert alert-success"></div>
</div>
<div id="icon-template" style="display:none;">
    <i class="loading-icon fas fa-cog ld ld-spin"></i>
    <i class="sort-icon fas fa-filter"></i>
</div>
<hr />
<div id="tableTemplate" style="display:none;">
    <table class="table table-sm table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="sortOption">
                    <a>Id</a>
                </th>
                <th class="sortOption">
                    <a>Name</a>
                </th>
                <th class="sortOption">
                    <a>Frequency</a>
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div id="tableContentTemplate" style="display:none;">
    <table>
        <tbody>
            <tr>
                <td class="reportId"></td>
                <td class="reportName"></td>
                <td class="reportFrequency"></td>
                <td class="reportIsTermed text-center"></td>
                <td class="text-center">
                    <a class="manage" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit"></i></a>
                    <a class="details"><i class="fas fa-book"></i></a>
                    @*<a class="transfer"><i class="fas fa-exchange-alt"></i></a>*@
                    @*<a class="reports"><i class="fas fa-arrow-right"></i></a>*@
                </td>
            </tr>
        </tbody>
    </table>
</div>
<table class="table table-sm table-bordered" id="navigation" style="padding-bottom: 0rem;">
    <thead>
        <tr>
            <th colspan="1">
                Reports
                <span class="float-right">
                    <span class="input-group input-group-sm input-group-background-custom">
                        <button class="prev btn btn-outline-primary btn-sm input-group-addon input-group-background-custom"><i class="fas fa-chevron-left "></i></button>
                        <span class="input-group-addon input-group-background-custom ">
                            <span class="indicator" style="padding-left:1.5rem; padding-right:1.5rem;">
                                <span class="index" style="padding-right:1.5rem;"> </span>
                                /
                                <span class="total" style="padding-left:1.5rem;padding-right:1.5rem;"> </span>
                            </span>
                        </span>
                        <button class="next btn btn-outline-primary btn-sm input-group-addon input-group-background-custom"><i class="fas fa-chevron-right"></i></button>
                        <i class="take btn btn-outline-primary input-group-addon dropdown-toggle input-group-background-custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></i>
                        <span class="dropdown-menu input-group-background-custom">
                            <span class="dropdown-header input-group-background-custom">Display # of Results</span>
                            <button class="pageSizeOption dropdown-item input-group-background-custom">20</button>
                            <button class="pageSizeOption dropdown-item input-group-background-custom">50</button>
                            <button class="pageSizeOption dropdown-item input-group-background-custom">75</button>
                            <button class="pageSizeOption dropdown-item input-group-background-custom">100</button>
                            <button class="pageSizeOption dropdown-item input-group-background-custom">200</button>
                            <button class="pageSizeOption dropdown-item input-group-background-custom">500</button>
                            <button class="pageSizeOption dropdown-item input-group-background-custom">1000</button>
                            <button class="pageSizeOption dropdown-item input-group-background-custom">2000</button>
                        </span>
                    </span>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr></tr>
    </tbody>
</table>
<div id="status">

</div>
<div class="reportsTable">
    <table class="table table-sm table-bordered table-striped table-hover" style="table-layout:fixed;">
        <thead>
            <tr>
                <th style="width: 10%">
                    <a class="sortOption">Id</a>
                </th>
                <th style="width: 50%">
                    <a class="sortOption">Name</a>
                </th>
                <th style="width: 15%">
                    <a class="sortOption">Frequency</a>
                </th>
                <th style="width: 10%">
                    <a class="sortOption">IsTermed</a>
                </th>
                <th style="width: 10%">Options</th>
            </tr>
            <tr>
                <th style="width: 10%">
                    <input id="searchId" class="form-control" placeholder="Id" type="text" style="max-width:100%;max-height:2.5rem;" value="@ViewData["id"]">
                </th>
                <th style="width: 50%">
                    <input id="searchName" class="form-control" placeholder="Name" type="text" style="max-width:100%;max-height:2.5rem;" value="@ViewData["name"]">
                </th>
                <th style="width: 15%">
                    <input id="searchFrequency" class="form-control" placeholder="Frequency" type="text" style="max-width:100%;max-height:2.5rem;" value="@ViewData["frequency"]">
                </th>
                <th style="width: 10%">
                    <input id="searchIsTermed" class="form-control" placeholder="IsTermed" type="text" style="max-width:100%;max-height:2.5rem;" value="@ViewData["isTermed"]">
                </th>
                <th class="text-center" style="width: 10%">
                    <div class="btn-group" role="group" aria-label="search button group">
                        <button id="search" type="button" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
                        <button id="clear" type="button" class="btn btn-outline-primary"><i class="fas fa-times"></i></button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div id="modals">
    <div id="createModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="true">
        <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
            <div class="container-fluid">
                <div class="modal-content">
                    <form id="createForm">
                        <div class="modal-header">
                            <h6>New Report <span class="reportTitle"></span></h6>
                        </div>
                        <div class="modal-body">
                            <h6 class="font-italic">Report Information</h6>
                            <input name="id" class="form-control-label sr-only report-id" type="number" />
                            <div class="form-group">
                                <label class="form-control-label">Name</label>
                                <input name="name" class="form-control report-name" type="text" />
                            </div>
                            <hr />
                            <h6 class="font-italic">Business Contact Information</h6>
                            <div class="form-group">
                                <label class="form-control-label">Business Contacts</label>
                                <select name="businessContactId" class="form-control custom-select report-businessContact" asp-items="ViewBag.BusinessContacts"></select>
                            </div>

                            <hr />
                            <h6 class="font-italic">Plan Information</h6>
                            <div class="form-group">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <label class="form-control-label col-md-3 col-form-label">Selection of Plans</label>
                                        <div class="col-md-4">
                                            <div class="col-md-6">

                                            </div>
                                            <div class="badge badge-pill badge-info align-items-center col-md-6 search-plans-results float-right" style="top: 25%; bottom: 75%;"></div>
                                        </div>

                                        <div class="col-md-5">
                                            <input type="text" class="search form-control search-plans" style="border-radius: 2rem;" placeholder="&#xF002;" />
                                        </div>
                                    </div>
                                    <select name="selectPlans" class="form-control report-selectPlans" size=10 asp-items="ViewBag.Plans" multiple></select>
                                </div>
                                <div class="form-group">
                                    <div class="btn-group btn-block" role="group" aria-label="planButtonGroup">
                                        <button class="btn btn-outline-primary col-md-6 assignPlans" type="button"><i class="fas fa-arrow-down"></i></button>
                                        <button class="btn btn-outline-primary col-md-6 unassignPlans" type="button"><i class="fas fa-arrow-up"></i></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Assigned Plans</label>
                                    <select name="reportPlanMapping" class="form-control report-plans" size=10 multiple></select>
                                </div>
                            </div>

                            <hr />
                            <h6 class="font-italic">Deadline Information</h6>
                            <div class="form-group">
                                <label class="form-control-label">Frequency</label>
                                <input name="frequency" type="text" class="form-control report-frequency">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Due Date 1</label>
                                    <input name="dueDate1" type="date" class="form-control report-dueDate1" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Due Date 2</label>
                                    <input name="dueDate2" type="date" class="form-control report-dueDate2" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Due Date 3</label>
                                    <input name="dueDate3" type="date" class="form-control report-dueDate3" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Due Date 4</label>
                                    <input name="dueDate4" type="date" class="form-control report-dueDate4" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Day Due</label>
                                <input name="dayDue" type="text" class="form-control report-dayDue" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Days After Quarter</label>
                                <input name="daysAfterQuarter" type="number" class="form-control report-daysAfterQuarter" />
                            </div>
                            <hr />
                            <h6 class="font-italic">Instructions &amp; Notes</h6>
                            <div class="form-group">
                                <label class="form-control-label">Work Instructions</label>
                                <textarea name="workInstructions" class="form-control report-workInstructions" rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Notes</label>
                                <textarea name="notes" class="form-control report-notes" rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Run With</label>
                                <input name="runWith" type="text" class="form-control report-runWith" />
                            </div>
                            <hr />
                            <h6 class="font-italic">Delivery Information</h6>
                            <div class="form-group">
                                <label class="form-control-label">Delivery Method</label>
                                <input name="deliveryMethod" class="form-control report-deliveryMethod" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Deliver To</label>
                                <input name="deliverTo" class="form-control report-deliverTo" style="min-width: 100%" />
                            </div>

                            <hr />
                            <h6 class="font-italic">Date Information</h6>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Effective Date</label>
                                    <input name="effectiveDate" type="date" class="form-control report-effectiveDate" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Termination Date</label>
                                    <input name="terminationDate" type="date" class="form-control report-terminationDate" />
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Date Added</label>
                                    <input name="dateAdded" type="date" class="form-control report-dateAdded" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">System Refresh Date</label>
                                    <input name="systemRefreshDate" type="date" class="form-control report-systemRefreshDate" />
                                </div>
                            </div>

                            <hr />
                            <h6 class="font-italic">Report Information (Continued)</h6>
                            <div class="form-group">
                                <label class="form-control-label">Source Department</label>
                                <input name="sourceDepartment" type="text" class="form-control report-sourceDepartment" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Report Path</label>
                                <input name="reportPath" type="text" class="form-control report-reportPath" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Folder Location</label>
                                <input name="folderLocation" type="text" class="form-control report-folderLocation" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">ERS Report Location</label>
                                <input name="ersReportLocation" type="text" class="form-control report-ersReportLocation" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">ERS Report name</label>
                                <input name="ersReportName" type="text" class="form-control report-ersReportName" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Other Report Location</label>
                                <input name="otherReportLocation" type="text" class="form-control report-otherReportLocation" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Report Type</label>
                                <input name="reportType" type="text" class="form-control report-reportType" />
                            </div>
                            <div class="form-check" style="padding-left: 1.2rem;">
                                <input name="isQualityIndicator" type="checkbox" class="form-check-input report-isQualityIndicator" />
                                <label class="form-check-label">Quality Indicator</label>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">ERR Status</label>
                                <input name="errStatus" type="text" class="form-control report-errStatus" />
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Legacy Report ID</label>
                                    <input name="legacyReportID" type="text" class="form-control report-reportType" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Legacy Report ID R2</label>
                                    <input name="legacyReportIDR2" type="text" class="form-control report-legacyReportIDR2" />
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <div class="btn-group btn-block" style="padding-left: 0px; padding-right: 0px;">
                                <button id="clearCreateForm" type="button" class="btn btn-secondary col-6"><i class="fas fa-eraser"></i> Clear</button>
                                <button id="post" type="button" class="btn btn-primary col-6"><i class="fas fa-save"></i> Save</button>
                            </div>

                        </div>
                    </form>
                    <div id="createStatus" class="col-md-12"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="editModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="container-fluid">
                <div class="modal-content">
                    <form id="editForm">
                        <div class="modal-header">
                            <h6>Manage: <span class="reportTitle"></span></h6>
                        </div>
                        <div class="modal-body">
                            <h6 class="font-italic">Report Information</h6>
                            <input name="id" class="form-control-label sr-only report-id" type="number" />
                            <div class="form-group">
                                <label class="form-control-label">Name</label>
                                <input name="name" class="form-control report-name" type="text" />
                            </div>
                            <hr />
                            <h6 class="font-italic businessContactInformation">Business Contact Information</h6>
                            <div class="form-group">
                                <label class="form-control-label">Business Contacts</label>
                                <select name="businessContactId" class="form-control custom-select report-businessContact"></select>
                            </div>
                            <hr />
                            <h6 class="font-italic planInformation">Plan Information</h6>
                            <div class="form-group">
                                <div class="form-group">
                                    <div class="form-group row">
                                        <label class="form-control-label col-md-3 col-form-label">Selection of Plans</label>
                                        <div class="col-md-4">
                                            <div class="col-md-6">

                                            </div>
                                            <div class="badge badge-pill badge-info align-items-center col-md-6 search-plans-results float-right" style="top: 25%; bottom: 75%;"></div>
                                        </div>

                                        <div class="col-md-5">
                                            <input type="text" class="search form-control search-plans" style="border-radius: 2rem;" placeholder="&#xF002;" />
                                        </div>
                                    </div>
                                    <select name="selectPlans" class="form-control report-selectPlans" size=10 multiple></select>
                                </div>
                                <div class="form-group">
                                    <div class="btn-group btn-block" role="group" aria-label="planButtonGroup">
                                        <button class="btn btn-outline-primary col-md-6 assignPlans" type="button"><i class="fas fa-arrow-down"></i></button>
                                        <button class="btn btn-outline-primary col-md-6 unassignPlans" type="button"><i class="fas fa-arrow-up"></i></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Assigned Plans</label>
                                    <select name="reportPlanMapping" class="form-control report-plans" size=10 multiple></select>
                                </div>
                            </div>
                            <hr />
                            <h6 class="font-italic">Deadline Information</h6>
                            <div class="form-group">
                                <label class="form-control-label">Frequency</label>
                                <input name="frequency" type="text" class="form-control report-frequency">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Due Date 1</label>
                                    <input name="dueDate1" type="date" class="form-control report-dueDate1" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Due Date 2</label>
                                    <input name="dueDate2" type="date" class="form-control report-dueDate2" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Due Date 3</label>
                                    <input name="dueDate3" type="date" class="form-control report-dueDate3" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Due Date 4</label>
                                    <input name="dueDate4" type="date" class="form-control report-dueDate4" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Day Due</label>
                                <input name="dayDue" type="text" class="form-control report-dayDue" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Days After Quarter</label>
                                <input name="daysAfterQuarter" type="number" class="form-control report-daysAfterQuarter" />
                            </div>
                            <hr />
                            <h6 class="font-italic">Instructions &amp; Notes</h6>
                            <div class="form-group">
                                <label class="form-control-label">Work Instructions</label>
                                <textarea name="workInstructions" class="form-control report-workInstructions" rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Notes</label>
                                <textarea name="notes" class="form-control report-notes" rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Run With</label>
                                <input name="runWith" type="text" class="form-control report-runWith" />
                            </div>
                            <hr />
                            <h6 class="font-italic">Delivery Information</h6>
                            <div class="form-group">
                                <label class="form-control-label">Delivery Method</label>
                                <input name="deliveryMethod" class="form-control report-deliveryMethod" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Deliver To</label>
                                <input name="deliverTo" class="form-control report-deliverTo" style="min-width: 100%" />
                            </div>

                            <hr />
                            <h6 class="font-italic">Date Information</h6>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Effective Date</label>
                                    <input name="effectiveDate" type="date" class="form-control report-effectiveDate" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Termination Date</label>
                                    <input name="terminationDate" type="date" class="form-control report-terminationDate" />
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Date Added</label>
                                    <input name="dateAdded" type="date" class="form-control report-dateAdded" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">System Refresh Date</label>
                                    <input name="systemRefreshDate" type="date" class="form-control report-systemRefreshDate" />
                                </div>
                            </div>

                            <hr />
                            <h6 class="font-italic">Report Information (Continued)</h6>
                            <div class="form-group">
                                <label class="form-control-label">Source Department</label>
                                <input name="sourceDepartment" type="text" class="form-control report-sourceDepartment" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Report Path</label>
                                <input name="reportPath" type="text" class="form-control report-reportPath" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Folder Location</label>
                                <input name="folderLocation" type="text" class="form-control report-folderLocation" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">ERS Report Location</label>
                                <input name="ersReportLocation" type="text" class="form-control report-ersReportLocation" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">ERS Report name</label>
                                <input name="ersReportName" type="text" class="form-control report-ersReportName" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Other Report Location</label>
                                <input name="otherReportLocation" type="text" class="form-control report-otherReportLocation" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Report Type</label>
                                <input name="reportType" type="text" class="form-control report-reportType" />
                            </div>
                            <div class="form-check" style="padding-left: 1.2rem;">
                                <input name="isQualityIndicator" type="checkbox" class="form-check-input report-isQualityIndicator" />
                                <label class="form-check-label">Quality Indicator</label>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">ERR Status</label>
                                <input name="errStatus" type="text" class="form-control report-errStatus" />
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Legacy Report ID</label>
                                    <input name="legacyReportID" type="text" class="form-control report-reportType" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-control-label">Legacy Report ID R2</label>
                                    <input name="legacyReportIDR2" type="text" class="form-control report-legacyReportIDR2" />
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <div class="btn-group btn-block" style="padding-left: 0px; padding-right:0px;">
                                <button id="delete" type="button" class="btn btn-danger col-md-6"><i class="fas fa-times"></i> Delete</button>
                                <button id="put" type="button" class="btn btn-primary col-md-6"><i class="fas fa-save"></i> Save</button>
                            </div>
                        </div>
                        <div class="collapse" id="collapseDelete">
                            <div class="col-md-12" style="padding-bottom: 1rem;">
                                <h6>Are you sure you want to delete this Report?</h6>
                                <div class="btn-group btn-block">
                                    <button type="button" id="unconfirmDelete" class="btn btn-outline-info col-md-6">No</button>
                                    <button type="button" id="confirmDelete" class="btn btn-outline-danger col-md-6">Yes</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div id="manageStatus" class="col-md-12"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="exportModal" class="modal fade">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                @await Component.InvokeAsync("Export", "")
            </div>
        </div>
    </div>
</div>









@section scripts{
    <script src="~/js/Reports/ReportsHandler.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            let _page = $('#viewPage').val() ? $('#viewPage').val() : 1;
            let _size = $('#viewTake').val() ? $('#viewTake').val() : 100;
            let _total;
            let _id = $('#viewId').val() ? $('#viewId').val() : null;
            let _name = $('#viewName').val() ? $('#viewName').val() : null;
            let _frequency = $('#viewFrequency').val() ? $('#viewFrequency').val() : null;
            let _isTermed = $('#viewIsTermed').val() ? $('#viewIsTermed').val() : null;
            let _sort = $('#viewSort').val() ? $('#viewSort').val() : null;
            function getWholeSize(id, name, frequency, isTermed) {
                let request = $.ajax({
                    type: 'GET',
                    url: 'api/Reports/',
                    data: { id: id, name: name, frequency: frequency, isTermed: isTermed, sort: null, from: null, take: null },
                    dataType: 'json',
                    success: function (data) {
                        if ($(data).length > 0) {
                            let current = parseInt($(data).length % _size === 0 ? ($(data).length / _size) : ($(data).length / _size) + 1);
                            $('.total').text(current);
                        } else {
                            $('#loadingIcon').find('i').fadeOut(200, function () {
                                $('#status').html($('#alert-template').find('.alert-warning').clone(false));
                                $('#status').find('.alert').text('No Reports Found');
                            });
                        };
                    },
                    error: function (a, b, c) {
                        $('#loadingIcon').find('i').fadeOut(200, function () {
                            $('#status').html($('#alert-template').find('.alert-danger').clone(false));
                            $('#status').find('.alert').text(c);
                        });
                    }
                });
            }
            function removeRow(id) {
                let row = $('.reportsTable').find('tbody').find('.reportId').filter(function () {
                    return parseInt($(this).text()) === id
                }).parent();
                if (row) {
                    $(row).remove();
                    return true;
                }
                return false;
            }
            function updateRow(id) {
                let row = $('.reportsTable').find('tbody').find('.reportId').filter(function () {
                    return parseInt($(this).text()) === id
                }).parent();
                let modelRequest = getReport(id);
                let report;
                modelRequest.done(function (data) {
                    if (data) {
                        row.find('.reportId').text(data.id);
                        row.find('.reportName').text(data.name);
                        row.find('.reportFrequency').text(data.frequency);
                        $(row).find('.manage').on('click', function () {
                            let form = $('#modals').find('#editModal').find('form');
                            let id = $(this).parent().parent().find('.reportId').text();
                            let request = $.ajax({
                                type: 'GET',
                                url: 'api/Reports/' + id,
                                dataType: 'json',
                                success: function (data) {
                                    if ($(data).length > 0) {
                                        $(form).find('.reportTitle').text(data.name);
                                        Object.keys(data).forEach(k => {
                                            if (k === '$id') {
                                            } else if (k.includes('Date')) {
                                                $(form).find('.report-' + k).val(convertDate((data[k])));
                                            } else {
                                                $(form).find('.report-' + k).val(data[k]);
                                            }
                                        });
                                        let businessContactRequest = getBusinessContactRequest(data.businessContactId);
                                        $(form).find('.businessContactInformation').text('Business Contact Information (Loading...)');
                                        businessContactRequest.done(function (businessContact) {
                                            $(form).find('.report-businessContact').val(businessContact.id);
                                            $(form).find('.businessContactInformation').text('Business Contact Information');
                                        });
                                        businessContactRequest.fail(function (a, b, c) {
                                            console.log(JSON.stringify(a) + b + c);
                                            $(form).find('.businessContactInformation').text('Business Contact Information');
                                        })
                                        let mappingRequest = getReportPlanMappingRequest(data.id);
                                        let plansRequest = getPlansRequest();
                                        $(form).find('.planInformation').text('Plan Information (Loading...)');
                                        mappingRequest.done(function (mapping) {
                                            if (mapping) {
                                                plansRequest.done(function (plans) {
                                                    if (plans) {
                                                        $(form).find('.report-plans').html(plans.filter(function (plan) { return mapping.map(m => m.planId).includes(plan.id); }).sort(function (x, y) { return x.name.toLowerCase() > y.name.toLowerCase(); }).map(function (plan) { return '<option value="' + plan.id + '">' + plan.name + '</option>'; }));
                                                        $(form).find('.report-selectPlans').html(plans.filter(function (plan) { return !mapping.map(m => m.planId).includes(plan.id); }).sort(function (x, y) { return x.name.toLowerCase() > y.name.toLowerCase(); }).map(function (plan) { return '<option value="' + plan.id + '">' + plan.name + '</option>'; }));
                                                        $(form).find('.planInformation').text('Plan Information');
                                                    }
                                                });
                                                plansRequest.fail(function (a, b, c) {
                                                    console.log(JSON.stringify(a) + b + c);
                                                    $(form).find('.planInformation').text('Plan Information');
                                                })
                                            }
                                        });
                                        $(form).find('.report-id').val(data.id);
                                        $(form).find('.report-name').val(data.name);
                                        $(form).find('.report-frequency').val(data.frequency);
                                    } else {
                                        $('#loadingIcon').find('i').fadeOut(200, function () {
                                            $('#status').html($('#alert-template').find('.alert-warning').clone(false));
                                            $('#status').find('.alert').text('No Report Found');
                                        });
                                    };
                                },
                                error: function (a, b, c) {
                                    $('#manageStatus').slideUp(100, function () {
                                        $(this).html($('#alert-template').find('.alert-danger').clone(false).text(c));
                                    });
                                }
                            });
                        });
                    }
                });
                modelRequest.fail(function (a, b, c) {
                    console.log(b + ' ' + c);
                    if (c === "Not Found") {
                        $(row).remove();
                    }
                })
                $(row).find('.manage').attr('href', '#Manage');
                getWholeSize(_id, _name, _frequency);
            }
            function appendRow(id) {
                let modelRequest = getReport(id);
                modelRequest.done(function (data) {
                    let tableBody = $('.reportsTable').find('tbody');
                    let newRow = buildRow(data);
                    $(tableBody).prepend('<tr>' + newRow.html() + '</tr>');
                    updateRow(id);
                });

            }
            function getReport(id) {
                let request = $.ajax({
                    type: 'GET',
                    contentType: 'application/json; charset-utf-8',
                    dataType: 'json',
                    url: 'api/Reports/' + id
                });
                return request;
            }
            $('#post').on('click', function () {
                $('#createForm button').prop('disabled', true);
                let form = $('#createForm');
                let plans = [];
                $('.report-plans').children().each(function () {
                    plans.push(parseInt($(this).val()));
                });
                console.log(plans);
                let formJSON = $(form).serializeArray().reduce(
                    function (a, x) {
                        a[x.name] = x.value;
                        return a;
                    }, {}
                );
                formJSON.id = 0;
                formJSON.reportPlanMapping = plans.map(p => ({ id: 0, reportId: parseInt(formJSON.id), planId: p }));
                let request = $.ajax({
                    type: 'POST',
                    url: 'api/Reports',
                    data: JSON.stringify(formJSON),
                    headers: {
                        RequestVerificationToken: $("[name='__RequestVerificationToken']").val()
                    },
                    dataType: 'json',
                    contentType: 'application/json; charset-utf-8',
                    success: function (data) {
                        $('#createForm button').prop('disabled', false);
                        $('#createStatus').html($('#alert-template').find('.alert-success').clone(false).text(data.name + " has been successfully created."));
                        appendRow(data.id);

                    },
                    error: function (a, b, c) {
                        $('#createForm button').prop('disabled', false);
                        $('#createStatus').html($('#alert-template').find('.alert-danger').clone(false).text(c));
                    }
                });
            })
            $('#put').on('click', function () {
                $('#collapseDelete').collapse('hide');
                $('#editForm button').prop('disabled', true);
                let plans = [];
                $('.report-plans').children().each(function () {
                    plans.push(parseInt($(this).val()));
                });
                console.log(plans);
                let form = $('#editForm');
                let formJSON = $(form).serializeArray().reduce(
                    function (a, x) {
                        a[x.name] = x.value;
                        return a;
                    }, {}
                );
                formJSON.reportPlanMapping = plans.map(p => ({ id: 0, reportId : parseInt(formJSON.id), planId : p }));
                console.log(formJSON);
                let request = $.ajax({
                    type: 'PUT',
                    url: 'api/Reports/' + formJSON.id,
                    data: JSON.stringify(formJSON),
                    headers: {
                        RequestVerificationToken: $("[name='__RequestVerificationToken']").val()
                    },
                    dataType: 'json',
                    contentType: 'application/json; charset-utf-8',
                    success: function (data) {
                        updateRow(parseInt(formJSON.id));
                        $('#editForm button').prop('disabled', false);
                        $('#manageStatus').html($('#alert-template').find('.alert-success').clone(false).text("Save was successful"));
                    },
                    error: function (a, b, c) {
                        $('#editForm button').prop('disabled', false);
                        $('#manageStatus').html($('#alert-template').find('.alert-danger').clone(false).text(c));
                    }
                });
            })
            $('#delete').on('click', function () {
                $('#collapseDelete').collapse('show');
            })
            $('#clearCreateForm').on('click', function () {
                $('#createForm')[0].reset();
                $('#createStatus').html('');
            });
            $('#unconfirmDelete').on('click', function () {
                $('#collapseDelete').collapse('hide');
            })
            $('#createModal').on('hidden.bs.modal', function (e) {
                $('#createStatus').html('');
            });
            $('#editModal').on('hidden.bs.modal', function (e) {
                $('#collapseDelete').collapse('hide');
                $('#editForm')[0].reset();
                $('#editForm').find('.report-plans option').remove();
                $('#editForm button').prop('disabled', false);
                $('#manageStatus').html('');
            });
            $('#confirmDelete').on('click', function () {
                $('#editForm button').prop('disabled', true);
                let form = $('#editForm');
                let formJSON = $(form).serializeArray().reduce(
                    function (a, x) {
                        a[x.name] = x.value;
                        return a;
                    }, {}
                );
                let model = {
                    id: parseInt(formJSON.id),
                    frequency: formJSON.frequency,
                    name: formJSON.name,
                };
                let request = $.ajax({
                    type: 'DELETE',
                    url: 'api/Reports/' + formJSON.id,
                    data: JSON.stringify(model),
                    headers: {
                        RequestVerificationToken: $("[name='__RequestVerificationToken']").val()
                    },
                    dataType: 'json',
                    contentType: 'application/json; charset-utf-8',
                    success: function (data) {
                        $('#manageStatus').html($('#alert-template').find('.alert-success').clone(false).text(formJSON.name + " was successfully removed."));
                        removeRow(model.id);
                        $('#collapseDelete').collapse('hide');
                        $(form).find('input').val('');
                        $(form).find('select').val('');
                        $(form).find('.reportTitle').text('');
                        $('#editForm button').prop('disabled', true);
                    },
                    error: function (a, b, c) {
                        $('#createForm button').prop('disabled', false);
                        $('#manageStatus').html($('#alert-template').find('.alert-danger').clone(false).text(c));

                    }
                });
            });
            function convertDate(inputFormat, delimiter) {
                if (typeof delimiter !== 'string') {
                    delimiter = '-';
                }
                function pad(s) { return s < 10 ? '0' + s : s; }
                let date = new Date(inputFormat);
                return [date.getFullYear(), pad(date.getMonth() + 1), pad(date.getDate())].join(delimiter);
            }
            function parseJsonDate(jsonDateString) {
                return new Date(jsonDateString);
            }
            $('.assignPlans').on('click', function () {
                let selection = $(this).parents('form').find('.report-selectPlans').find(':selected');
                selection.appendTo($(this).parents('form').find('.report-plans'));
            });
            $('.unassignPlans').on('click', function () {
                let selection = $(this).parents('form').find('.report-plans').find(':selected');
                selection.appendTo($(this).parents('form').find('.report-selectPlans'));
            });
            function getBusinessContactsRequest() {
                let request = $.ajax({
                    type: 'GET',
                    url: 'api/BusinessContacts',
                    dataType: 'json',
                    contentType: 'application/json; charset-utf-8'
                });
                return request;

            }
            function getBusinessContactRequest(id) {
                let request = $.ajax({
                    type: 'GET',
                    url: 'api/BusinessContacts/' + id,
                    dataType: 'json',
                    contentType: 'application/json; charset-utf-8'
                });
                return request;
            }
            function getPlansRequest(id) {
                let request = $.ajax({
                    type: 'GET',
                    url: id === undefined ? 'api/Plans' : 'api/Reports/' + id + '/Plans',
                    dataType: 'json',
                    contentType: 'application/json; charset-utf-8'
                });
                return request;
            }
            function getReportPlanMappingRequest(id) {
                let request = $.ajax({
                    type: 'GET',
                    url: 'api/Reports/' + id + '/ReportPlanMapping',
                    dataType: 'json',
                    contentType: 'application/json; charset-utf-8'
                });
                return request;
            }
            $('.search-plans').on('input', function () {
                let value = $(this).val().toLowerCase();
                $(this).parents('form').find('.report-selectPlans > option').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
                if ($(this).val() !== '') {
                    let resultsCount = $(this).parents('form').find('.report-selectPlans > option:visible').length;
                    $(this).parents('form').find('.search-plans-results').text(resultsCount + ' results');
                } else {
                    $(this).parents('form').find('.search-plans-results').text('');
                }
            });
            $('.manage').on('click', function () {
                let form = $('#modals').find('#editModal').find('form');
                let id = $(this).parent().parent().find('.reportId').text();
                let request = $.ajax({
                    type: 'GET',
                    url: 'api/Reports/' + id,
                    dataType: 'json',
                    success: function (data) {
                        if ($(data).length > 0) {
                            $(form).find('.reportTitle').text(data.name);
                            Object.keys(data).forEach(k => {
                                if (k === '$id') {
                                } else if (k.includes('Date')) {
                                    $(form).find('.report-' + k).val(convertDate((data[k])));
                                } else {
                                    $(form).find('.report-' + k).val(data[k]);
                                }
                            });
                            let businessContactRequest = getBusinessContactRequest(data.businessContactId);
                            $(form).find('.businessContactInformation').text('Business Contact Information (Loading...)');
                            businessContactRequest.done(function (businessContact) {
                                $(form).find('.report-businessContact').val(businessContact.id);
                                $(form).find('.businessContactInformation').text('Business Contact Information');
                            });
                            businessContactRequest.fail(function (a, b, c) {
                                console.log(JSON.stringify(a) + b + c);
                                $(form).find('.businessContactInformation').text('Business Contact Information');
                            })
                            let mappingRequest = getReportPlanMappingRequest(data.id);
                            let plansRequest = getPlansRequest();
                            $(form).find('.planInformation').text('Plan Information (Loading...)');
                            mappingRequest.done(function (mapping) {
                                if (mapping) {
                                    plansRequest.done(function (plans) {
                                        if (plans) {
                                            $(form).find('.report-plans').html(plans.filter(function (plan) { return mapping.map(m => m.planId).includes(plan.id); }).sort(function (x, y) { return x.name.toLowerCase() > y.name.toLowerCase(); }).map(function (plan) { return '<option value="' + plan.id + '">' + plan.name + '</option>'; }));
                                            $(form).find('.report-selectPlans').html(plans.filter(function (plan) { return !mapping.map(m => m.planId).includes(plan.id); }).sort(function (x, y) { return x.name.toLowerCase() > y.name.toLowerCase(); }).map(function (plan) { return '<option value="' + plan.id + '">' + plan.name + '</option>'; }));
                                            $(form).find('.planInformation').text('Plan Information');
                                        } 
                                    });
                                    plansRequest.fail(function (a, b, c) {
                                        console.log(JSON.stringify(a) + b + c);
                                        $(form).find('.planInformation').text('Plan Information');
                                    })
                                }
                            });
                            $(form).find('.report-id').val(data.id);
                            $(form).find('.report-name').val(data.name);
                            $(form).find('.report-frequency').val(data.frequency);
                        } else {
                            $('#loadingIcon').find('i').fadeOut(200, function () {
                                $('#status').html($('#alert-template').find('.alert-warning').clone(false));
                                $('#status').find('.alert').text('No Report Found');
                            });
                        };
                    },
                    error: function (a, b, c) {
                        $('#manageStatus').slideUp(100, function () {
                            $(this).html($('#alert-template').find('.alert-danger').clone(false).text(c));
                        });
                    }
                });
            })
            $('#search').on('click', function () {
                search($('#searchId').val(), $('#searchName').val(), $('#searchFrequency').val(), $('#searchIsTermed').val());
            });
            $(document).keypress(function (e) {
                if (e.which == 13) {
                    search($('#searchId').val(), $('#searchName').val(), $('#searchFrequency').val(), $('#searchIsTermed').val());
                }

            });

            $('#clear').on('click', function () {
                $('input').val('');
                search();
            });
            function search(id, name, frequency, isTermed) {
                $('.index').text(_page);
                $('#loading').html($('#icon-template').find('.loading-icon').clone(false));
                getReports(id, name, frequency, isTermed, _sort, getFrom(), _size);
                getWholeSize(id, name, frequency);
            }
            function getReports(id, name, frequency, isTermed, sort, start, take) {
                $('.next').prop('disabled', true);
                $('.prev').prop('disabled', true);
                _id = id;
                _name = name;
                _sort = sort;
                _frequency = frequency;
                _isTermed = isTermed;
                let query = {
                    id: !_id ? null : _id,
                    name: !_name ? null : _name,
                    sort: !_sort || _sort === undefined ? null : _sort,
                    frequency: !_frequency ? null : _frequency,
                    isTermed: !_isTermed ? null : _isTermed,
                    page: _page,
                    take: take
                };
                $('#status').html('');
                let request = $.ajax({
                    type: 'GET',
                    url: 'api/Reports/',
                    data: { id: _id, name: _name, frequency: _frequency, isTermed: _isTermed, sort: _sort, from: start, take: take },
                    dataType: 'json',
                    success: function (data) {
                        let queryString = '';
                        let queryUrl = '/Reports';
                        let mapping = Object.keys(query).map(function (key) {
                            if (query[key] !== null)
                                return key + '=' + query[key];
                            else return null;
                        });
                        queryString = mapping.reduce(function (a, c) {
                            if (a === null) return c;
                            if (c === null) return a;
                            return a + '&' + c;


                        });
                        if (queryString !== '') {
                            queryUrl += '?' + queryString;
                        }
                        history.replaceState(null, null, queryUrl);
                        $('#status').html('');
                        if (data && $(data).length > 0) {
                            let items = [];
                            $(data).each(function (i, e) {
                                items.push(buildRow(e));
                            });
                            $('.reportsTable').find('tbody').html(items);
                            $('#loading').find('i').fadeOut(200);
                        }
                        if (data.length === 0) {
                            $('#loading').find('i').fadeOut(200);
                            $('.reportsTable').find('tbody').children().hide();
                            $('#status').html($('#alert-template').find('.alert-warning').clone(false));
                            $('#status').find('.alert').text('No Reports Found');
                        };
                        $('.next').prop('disabled', false);
                        $('.prev').prop('disabled', false);
                    },
                    error: function (a, b, c) {
                        $('#loadingIcon').find('i').fadeOut(200, function () {
                            $('#status').html($('#alert-template').find('.alert-danger').clone(false));
                            $('#status').find('.alert').text(c);
                        });
                        $('.next').prop('disabled', false);
                        $('.prev').prop('disabled', false);
                    }
                });
            }
            function buildRow(report) {
                let row = $('#tableContentTemplate').find('tr').clone(true);
                $(row).find('.reportId').text(report.id);
                $(row).find('.reportName').text(report.name);
                $(row).find('.reportFrequency').text(report.frequency);
                if (report.isTermed) {
                    $(row).find('.reportIsTermed').html('<i class="fas fa-check text-muted"></i>');
                }
                $(row).find('.manage').attr('href', '#Manage');
                $(row).find('.details').attr('href', 'Reports/Details/' + report.id);
                return row;
            }
            function init() {
                //_page = 1;
                let plansRequest = getPlansRequest();
                plansRequest.done(function (plans) {
                    let form = $('#modals').find('#createModal').find('form');
                    if (plans) {
                        $(form).find('.report-selectPlans').html(plans.sort(function (x, y) { return x.name.toLowerCase() > y.name.toLowerCase(); }).map(function (plan) { return '<option value="' + plan.id + '">' + plan.name + '</option>'; }));
                    }
                });
                plansRequest.fail(function (a, b, c) {
                    console.log('plan request failed: ' + c);
                });
                let businessContactsRequest = getBusinessContactsRequest();
                businessContactsRequest.done(function (contacts) {
                    $('.report-businessContact').html(contacts.sort(function (x, y) { return x.name.toLowerCase() > y.name.toLowerCase(); }).map(function (contact) { return '<option value="' + contact.id + '">' + contact.name + '</option>'; }));
                })
                businessContactsRequest.fail(function (a, b, c) {
                    console.log('businesscontacts request failed: ' + c);
                })
                $('.index').text(_page);
                $('#loading').html($('#icon-template').find('.loading-icon').clone(false));
                search($('#searchId').val(), $('#searchName').val(), $('#searchfrequency').val());
            }
            $('.sortOption').on('click', function () {
                let _sort = $(this).text();
                if ($(this).find('i').html() !== undefined) {
                    return;
                }
                $('.sortOption').find('i').fadeOut(200, function () {
                    $(this).remove();
                });
                $(this).append($('#icon-template').find('.sort-icon').clone(false).addClass('ldt ldt-flip-v'));
                $('#loading').html($('#icon-template').find('.loading-icon').clone(false));
                getReports(_id, _name, _frequency, _isTermed, _sort, getFrom(), _size);
            });
            $('.pageSizeOption').on('click', function () {
                if (_size === parseInt($(this).text())) {
                    return;
                }
                _size = parseInt($(this).text());
                _page = 1;
                $('.index').text(_page);
                $('#loading').html($('#icon-template').find('.loading-icon').clone(false));
                getReports(_id, _name, _frequency, _isTermed, _sort, getFrom(), _size);
                getWholeSize(_id, _name, _frequency, _isTermed);
            });
            $('.next').on('click', function () {
                if (_page !== parseInt($('.total').text())) {
                    _page = parseInt(_page) + 1;
                    $('.index').text(_page);
                    $('#loading').html($('#icon-template').find('.loading-icon').clone(false));
                    getReports(_id, _name, _frequency, _isTermed, _sort, getFrom(), _size);
                }
            })
            $('.prev').on('click', function () {
                if (_page > 1) {
                    _page = parseInt(_page) - 1;
                    $('.index').text(_page);
                    $('#loading').html($('#icon-template').find('.loading-icon').clone(false));
                    getReports(_id, _name, _frequency, _isTermed, _sort, getFrom(), _size);
                }
            })
            function getFrom() {
                if (_page === NaN || _page === undefined || _page === null) {
                    return null;
                }
                if (_page === 1) {
                    return (_page - 1) * _size;
                } else return ((_page - 1) * _size) + 1;

            }
            init();
        });
    </script>
}