@model ReportOverviewApp.Models.ReportViewModels.ReportViewModel

@{
    ViewData["Title"] = "Index";
}
<style>
    .report-index{
        margin-left: auto;
    }
</style>
<h3 class="page-header">Reports</h3>
<form class="form-horizontal" asp-controller="Reports" asp-action="Index">
    <div class="form-group">
        <div class="col-sm-3">
            <div class="input-group">
                <input type="search" class="form-control" name="search" placeholder="Search For Reports" aria-describedby="mag-glass"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="mag-glass"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
</form>
<div class="report-top-content">
    <ul class="nav nav-tabs col-sm-10">
        <li role="presentation" class="active"><a href="#">All</a></li>
        <li role="presentation"><a href="#">Quarterly</a></li>
        <li role="presentation"><a href="#">Monthly</a></li>
    </ul>
    <form class="form-horizontal asp-action=Create col-sm-2" style="text-align:right;">
        <button type="submit" asp-action="Create" class="btn btn-primary" name="item" aria-label="Left Align"><span class="glyphicon glyphicon-plus-sign"></span>Add Report</button>
    </form>
    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CreateReportModal" aria-label="Left Align"><span class="glyphicon glyphicon-plus-sign"></span>Add Report</button>*@
</div>

<div id="CreateReportModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @await Html.PartialAsync("Create", new Report())
            </div>
        </div>
    </div>
</div>
<div id="EditReportModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @await Html.PartialAsync("Edit", new Report())
            </div>
        </div>
    </div>
</div>
@if (Model.Reports == null || Model.Reports.Count() == 0) { <br /><h4 style="text-align: center; padding-top: 30px">No Records To Display</h4> }
else{
    <table class="table report-table table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.ActionLink("ID", "Index", new { column = "ID" })</th>
                <th>@Html.ActionLink("Name", "Index", new { column = "Name" })</th>
                <th>@Html.ActionLink("Deadline", "Index", new { column = "Deadline" })</th>
                <th>Finished On</th>
                <th>Notified On</th>
                <th>Sent On</th>
                @*<th>Created</th>
                <th>Notified</th>
                <th>Sent</th>*@
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Reports.Count(); i++)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => Model.Reports.ElementAt(i).ID)</td>
                    <td>@Html.DisplayFor(modelItem => Model.Reports.ElementAt(i).Name)</td>
                    <td>@Html.DisplayFor(modelItem => Model.Reports.ElementAt(i).DateDue)</td>
                    <td>@Html.DisplayFor(modelItem => Model.Reports.ElementAt(i).DateDone)</td>
                    <td>@Html.DisplayFor(modelItem => Model.Reports.ElementAt(i).DateClientNotified)</td>
                    <td>@Html.DisplayFor(modelItem => Model.Reports.ElementAt(i).DateSent)</td>
                    <td>
                        @*<a onclick="EditReport(@Model.Reports.ElementAt(i).ID)" data-toggle="modal" data-target="#EditReportModal">Edit</a> |*@
                        <a asp-action="Edit" asp-route-id="@Model.Reports.ElementAt(i).ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@Model.Reports.ElementAt(i).ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@Model.Reports.ElementAt(i).ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*<nav aria-label="...">
        <ul class="pagination">
            <li class="disabled">
                <span>
                    <span aria-hidden="true">&laquo;</span>
                </span>
            </li>
            @for (int i = 1; i <= Model.Reports.Count(); i++)
            {
                if (i > 5)
                {
                    <li class="disabled">
                        <span>...<span class="sr-only">(current)</span></span>
                    </li>
                    <li>
                        <span>@Model.PagesCount()<span class="sr-only">(current)</span></span>
                    </li>
                    i = Model.PagesCount() + 1;
                }
                else
                {

                    <li>
                        <span>@i<span class="sr-only">(current)</span></span>
                    </li>
                }
            }
            <li>
                <span>
                    <span aria-hidden="true">&raquo;</span>
                </span>
            </li>
        </ul>
    </nav>*@

}

@*<div class="col-sm-3">
    <label class="col-sm-9 text-right">Showing 1-@Model.Count() Of @Model.Count()</label>
</div>*@