@model IEnumerable<ReportOverviewApp.Models.Report>

@{
    ViewData["Title"] = "Index";
}
<style>
    /*.form-control{
        background-color:#444447;
    }
    .btn-default {
        background-color: #444447;
    }*/
    .report-index{
        margin-left: auto;
    }
    .report-table{
    }
</style>
<h3>Reports</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form class="form-horizontal" asp-controller="Reports" asp-action="Index">
    <div class="form-group">
        <div class="col-sm-3">
            <div class="input-group">
                <input type="search" class="form-control" name="search" id="search" placeholder="Search For Reports" aria-describedby="mag-glass"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="mag-glass"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
</form>
<form class="form-horizontal asp-action=Create">
    <button type="submit" asp-action="Create" class="btn btn-primary" name="item" aria-label="Left Align"><span class="glyphicon glyphicon-plus-sign"></span>Add Report</button>
</form>

<table class="table report-table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateClientNotified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNotified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sent)
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @*<tr>
            @using ReportOverviewApp.Models
            <form>     
                <td><div><input type="text" class="form-control" placeholder="Report Name" asp-fpr="Name" required /></div></td>
                <td><input type="text" class="form-control" placeholder="Date Due" /></td>
                <td><input type="text" class="form-control" placeholder="Date Done" /></td>
                <td><input type="text" class="form-control" placeholder="Date Client Notified" /></td>
                <td><input type="text" class="form-control" placeholder="Date Sent" /></td>
                <td><input type="checkbox" /></td>
                <td><input type="checkbox" /></td>
                <td><input type="checkbox" /></td>
                <td><button type="submit" class="btn btn-primary" name="item" aria-label="Left Align"  value="Create"><span class="glyphicon glyphicon-plus-sign"></span>Add Report</button></td>
            </form>
        </tr>*@
        @for(int i = 0; i < Model.Count(); i++) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).DateDue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).DateDone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).DateClientNotified)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).DateSent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Done)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).ClientNotified)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Sent)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@Model.ElementAt(i).ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@Model.ElementAt(i).ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@Model.ElementAt(i).ID">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination">
        <li class="disabled">
            <span>
                <span aria-hidden="true">&laquo;</span>
            </span>
        </li>
        @for (int i = 1; i <= Model.Count(); i++){
            if (i > 5){
                <li class="disabled">
                    <span>...<span class="sr-only">(current)</span></span>
                </li>
                <li>
                    <span>@Model.Count()<span class="sr-only">(current)</span></span>
                </li>

            }
            else{

                <li>
                    <span>@i<span class="sr-only">(current)</span></span>
                </li>
            }
        }
        <li>
            <span>
                <span aria-hidden="true">&raquo;</span>
            </span>
        </li>
    </ul>
</nav>
@*<div class="col-sm-3">
    <label class="col-sm-9 text-right">Showing 1-@Model.Count() Of @Model.Count()</label>
</div>*@