@using ReportOverviewApp.Models;
@model IEnumerable<ReportDeadline>
@{
    ViewData["Title"] = "Past Reports";
}
@{ 
    var yesterday = DateTime.Today.AddDays(-1);
}
<h4>
    Status of Past Reports
</h4>
<hr />
@if(Model == null || Model.Count() == 0)
{

    <h6>No Deadline Information Found</h6>
}
@foreach (DateTime d in Model.Select(rd => rd.Deadline).Distinct())
{
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr class="bg-darkblue text-light">
                @if (d == yesterday)
                {
                    <th colspan="5">
                        Date:&nbsp;@d.ToShortDateString()&nbsp;(Yesterday)
                    </th>
                }
                else
                {
                    <th colspan="5">
                        Date:&nbsp;@d.ToShortDateString()
                    </th>
                }
                
            </tr>
            <tr>
                <th>Report</th>
                <th>Ran On</th>
                <th>Approved On</th>
                <th>Sent On</th>
                <th>Options</th>
            </tr>
        </thead>
        @foreach (ReportDeadline rd in Model.Select(rd => rd).Where(rd => rd.Deadline == d))
        {
            <tr class="text-dark">
                <td>@Html.DisplayFor(modelItem => rd.Report.Name)</td>
                @if (rd.RunDate != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => rd.RunDate)&nbsp;
                    @if (rd.RunDate > rd.Deadline)
                    {
                        <text>(LATE)&nbsp;<i class="fa fa-thumbs-up text-warning"></i></text>
                    }
                    else
                    {
                        <i class="fa fa-thumbs-up text-success"></i>
                    }
                </td>
                }
                else
                {
                    <td class="text-danger">Not Run&nbsp;<i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i></td>
                }
                @if (rd.ApprovalDate != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => rd.ApprovalDate)&nbsp;
                    @if (rd.ApprovalDate > rd.Deadline)
                    {  <text>(LATE)&nbsp;<i class="fa fa-thumbs-up text-warning"></i></text>
                    }
                    else
                    {
                        <i class="fa fa-thumbs-up text-success"></i>
                    }
                </td>
                }
                else
                {
                    <td class="text-danger">No Approval&nbsp;<i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i></td>
                }
                @if (rd.SentDate != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => rd.SentDate)&nbsp;
                    @if (rd.SentDate > rd.Deadline)
                    {  <text>(LATE)&nbsp;<i class="fa fa-thumbs-up text-warning"></i></text>
                    }
                    else
                    {
                        <i class="fa fa-thumbs-up text-success"></i>
                    }
                </td>
                }
                else
                {
                    <td class="text-danger">Not Sent&nbsp;<i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i></td>
                }
                <td style="text-align: center;">
                    <a asp-action="EditDeadline" asp-route-id="@rd.Id"><span class="fa fa-adjust text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title="Edit:  Report Deadline (@rd.Deadline.ToShortDateString())"></span></a>
                    <a id="editReport" data-toggle="modal" data-target="#editReportModal"><span class="fa fa-edit text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title="Edit:  @rd.Report.Name"></span></a>
                    <a asp-action="Details" asp-route-id="@rd.Report.Id"><span class="fa fa-book text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title="View:   @rd.Report.Name"></span></a>
                    <a id="deleteReport" data-toggle="modal" data-target="#deleteReportModal"><span class="fa fa-remove text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title="Delete:   @rd.Report.Name"></span></a>
                </td>
            </tr>
            

        }
    </table>
    <br />
}
<div id="editReportModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @*@await Html.PartialAsync("Edit", new Report())*@
            <div id="editReportContainer">
                @await Component.InvokeAsync(name: "EditReport")
            </div>

        </div>
    </div>
</div>
<div id="deleteReportModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("Delete", new Report())
        </div>
    </div>
</div>
@section  scripts{
<script src="~/js/ReportsHandler.js"></script>
}