@using ReportOverviewApp.Models;
@model IEnumerable<ReportDeadline>
@{
    ViewData["Title"] = "Past Reports";
}
@{
    var yesterday = DateTime.Today.AddDays(-1);
}
<h4>
    Status of Past Reports
</h4>
<hr />
@if (Model == null || Model.Count() == 0)
{

    <h6 class="alert alert-warning">No Deadline Information Found</h6>
}
<div class="card-columns">
    @for (int i = 0; i < Model.Select(rd => rd.Deadline).Distinct().Count(); i++)
    {
        DateTime d = Model.Select(rd => rd.Deadline).Distinct().ElementAt(i);
        //var total = @Model.Where(rd => rd.Deadline == d).Count();
        //var runs = @Model.Where(rd => rd.Deadline == d && rd.HasRun).Count();
        //var approvals = @Model.Where(rd => rd.Deadline == d && rd.IsApproved).Count();
        //var sends = @Model.Where(rd => rd.Deadline == d && rd.IsSent).Count();
        <div class="card">
            <div class="card-header">
                <h6 style="display: inline-block;">
                    @if (d == yesterday)
                    {
                        <text>Yesterday</text>
                    }
                    else
                    {
                        @d.ToShortDateString()
                    }

                </h6>
                <div class="options" style="display:inline-block;position:absolute; vertical-align:middle; right: 0.5rem;">
                    <span><i class="fas fa-check-circle"></i></span>
                    <span class="toggleIcon" data-toggle="collapse" data-target="#list-@i"><i class="fas fa-chevron-up"></i></span>
                    <span><i class="fas fa-times-circle"></i></span>
                </div>
            </div>
            <div class="collapse list-collapsable" id="list-@i">
                <ul class="list-group list-group-flush">
                    @*<li class="list-group-item">
                            <div class="row col-12">
                                <div class="progress col-4">
                                    <div class="progress-bar bg-secondary" role="progressbar" style="width:@runs.ToString()+'%'" aria-valuenow="@runs.ToString()" aria-valuemin="0" aria-valuemax="@total"></div>
                                </div>
                                <div class="progress col-4">
                                    <div class="progress-bar bg-info" role="progressbar" style="width:@approvals+'%'" aria-valuenow="@approvals" aria-valuemin="0" aria-valuemax="@total"></div>
                                </div>
                                <div class="progress col-4">
                                    <div class="progress-bar bg-success" role="progressbar" style="width:@sends+'%'" aria-valuenow="@sends" aria-valuemin="0" aria-valuemax="@total"></div>
                                </div>
                            </div>
                        </li>*@
                    @foreach (ReportDeadline rd in Model.Select(rd => rd).Where(rd => rd.Deadline == d))
                    {
                        <li class="list-group-item report-item">
                            @*<div class="report-item-options" style="display:inline-block;position:absolute; vertical-align:middle; right: 0.5rem;">
                                    <span class="report-item-options-toggle"><i class="fas fa-chevron-down"></i></span>
                                </div>*@
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    @rd.Report.Name
                                </li>
                                <li class="list-inline-item">
                                    <span>
                                        <a class="editReportDeadlineLink" asp-action="EditReportDeadline" asp-route-id="@rd.ReportId" data-toggle="modal" data-target="#editReportDeadlineModal"><span class="fas fa-calendar-alt text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title="Edit:  Report Deadline (@rd.Deadline.ToShortDateString())"></span></a>
                                        <a class="editReportLink" asp-action="EditReport" asp-route-id="@rd.ReportId" data-toggle="modal" data-target="#editReportModal"><span class="fas fa-edit text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title="Edit:  @rd.Report.Name"></span></a>
                                        <a asp-action="Details" asp-route-id="@rd.Report.Id"><span class="fas fa-book text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title="View:   @rd.Report.Name"></span></a>
                                        <a class="deleteReportLink" asp-action="DeleteReport" asp-route-id="@rd.ReportId" data-toggle="modal" data-target="#deleteReportModal"><span class="fas fa-eraser text-primary" tabindex="0" data-toggle="tooltip" data-placement="top" title="Delete:   @rd.Report.Name"></span></a>
                                    </span>
                                </li>
                            </ul>
                            @*<ul class="list-inline report-item-status">
                                <li class="list-inline-item">
                                    <p>Ran <span>@if (rd.HasRun)
                                    {<i class="far fa-check-circle text-success"></i> }
                                    else
                                    {<i class="far fa-times-circle text-danger"></i>}</span></p>
                                </li>
                                <li class="list-inline-item">
                                    <p>Approved <span>@if (rd.IsApproved)
                                    {<i class="far fa-check-circle text-success"></i> }
                                    else
                                    {<i class="far fa-times-circle text-danger"></i>}</span></p>
                                </li>
                                <li class="list-inline-item">
                                    <p>Sent <span>@if (rd.IsSent)
                                    {<i class="far fa-check-circle text-success"></i> }
                                    else
                                    {<i class="far fa-times-circle text-danger"></i>}</span></p>
                                </li>
                            </ul>*@
                        </li>
                    }
                </ul>
            </div>

        </div>
    }
</div>
<div id="editReportDeadlineModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="editReportDeadlineContainer">
                @await Component.InvokeAsync(name: "EditReportDeadline")
            </div>
        </div>
    </div>
</div>
<div id="editReportModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="editReportContainer">
                @await Component.InvokeAsync(name: "EditReport")
            </div>

        </div>
    </div>
</div>
<div id="deleteReportModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="deleteReportContainer">
                @await Component.InvokeAsync(name: "DeleteReport")
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/ReportsHandler.js"></script>
    <script>
        $('.list-collapsable').on('hidden.bs.collapse', function () {
            $(this).prev('.card-header').children('.options').children('.toggleIcon').children('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
        });
        $('.list-collapsable').on('shown.bs.collapse', function () {
            $(this).prev('.card-header').children('.options').children('.toggleIcon').children('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
        });
            //$(".report-item-options-toggle").click(
            //    function () {
            //        $(this).prev('report.children('.report-item-status').slideDown(200);
            //        //$(this).children('.report-item-status').collapse('show');
            //    },
            //    function () {
            //        $(this).children('.report-item-status').slideUp(200);
            //    }
            //);
    </script>
}