@using ReportOverviewApp.Models;
@model IEnumerable<ReportDeadline>
@{
    ViewData["Title"] = "Past Reports";
}
@{ 
    var yesterday = DateTime.Today.AddDays(-1);
}
<h3>
    Status of Past Reports
</h3>
<br />
@foreach (DateTime d in Model.Select(rd => rd.Deadline).Distinct())
{
    <table class="table table-sm table-striped">
        <thead>
            <tr class="bg-darkblue text-light">
                @if (d == yesterday)
                {
                    <th colspan="4">
                        Date:&nbsp;Yesterday
                    </th>
                }
                else
                {
                    <th colspan="4">
                        Date:&nbsp;@d.ToShortDateString()
                    </th>
                }
                
            </tr>
            <tr>
                <th>Report</th>
                <th>Finished On</th>
                <th>Notified On</th>
                <th>Sent On</th>
            </tr>
        </thead>
        @foreach (ReportDeadline rd in Model.Select(rd => rd).Where(rd => rd.Deadline == d))
        {
            <tr class="text-dark">
                <td>@Html.DisplayFor(modelItem => rd.Report.Name)</td>
                @if (rd.FinishedDate != null)
                {
                    <td>@Html.DisplayFor(modelItem => rd.FinishedDate)</td>
                } else
                {
                    <td class="text-danger">Not Finished</td>
                }
                @if (rd.ClientNotifiedDate != null)
                {
                    <td>@Html.DisplayFor(modelItem => rd.ClientNotifiedDate)</td>
                }
                else
                {
                    <td class="text-danger">No Notification</td>
                }
                @if (rd.SentDate != null)
                {
                    <td>@Html.DisplayFor(modelItem => rd.SentDate)</td>
                }
                else
                {
                    <td class="text-danger">Not Sent</td>
                }
            </tr>
            

        }
    </table>
    <br />
}
@*<table class="table table-sm">
    <thead>
        <tr>
            <th>Deadline</th>
            <th>Report</th>
            <th>Finished On</th>
            <th>Notified On</th>
            <th>Sent On</th>
        </tr>
    </thead>
    <tbody>
        
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => Model.ElementAt(i).Deadline)</td>
                <td>@Html.DisplayFor(modelItem => Model.ElementAt(i).Report.Name)</td>
                <td>@Html.DisplayFor(modelItem => Model.ElementAt(i).FinishedDate)</td>
                <td>@Html.DisplayFor(modelItem => Model.ElementAt(i).ClientNotifiedDate)</td>
                <td>@Html.DisplayFor(modelItem => Model.ElementAt(i).SentDate)</td>
            </tr>
        }
    </tbody>
</table>*@