@model ReportOverviewApp.Models.ReportViewModels.ReportViewModel

<style>
    .dropdown-menu-scrollable{
        max-height: 300px;
        overflow: auto;
    }
    input {
        max-width: 100%;
        min-width: 100%;
    }
</style>

<div class="col-sm-12">
    <div>
        <form>
            <div class="form-horizontal">
                <h4>Search For...</h4>
                <hr />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" id="SearchNameInput" class="form-control" name="search" placeholder="Enter Report Name" value="@Model.Search" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="date" class="form-control" id="beginDatepicker" name="begin" placeholder="Enter Begin Date" value="@Model.DisplayDateTimeAsDate(Model.Begin)" />
                                </div>
                                <div class="col-sm-6">
                                    <input type="date" class="form-control" id="endDatepicker" name="end" placeholder="Enter End Date" value="@Model.DisplayDateTimeAsDate(Model.End)" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Frequency <span class="caret"></span></button>
                                            <ul id="frequencyList" class="dropdown-menu dropdown-menu-scrollable">
                                                <li><a>Weekly</a></li>
                                                <li><a>Biweekly</a></li>
                                                <li><a>Monthly</a></li>
                                                <li><a>Quarterly</a></li>
                                                <li><a>Semiannual</a></li>
                                                <li><a>Annual</a></li>
                                            </ul>
                                        </div>
                                        <input id="frequencyInput" type="text" name="frequency" class="form-control" aria-label="..." value="@Model.Frequency"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">State<span class="caret"></span></button>
                                            <ul id="stateList" class="dropdown-menu dropdown-menu-scrollable">
                                                @foreach(var stateItem in Model.States)
                                                {
                                                    <li><a>@stateItem</a></li>
                                                }
                                            </ul>
                                        </div>
                                        <input id="stateInput" type="text" name="state" class="form-control" aria-label="..." value="@Model.State" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Plan <span class="caret"></span></button>
                                            <ul id="planList" class="dropdown-menu dropdown-menu-scrollable">
                                                @foreach (var planItem in Model.Plans)
                                                {
                                                    <li><a>@planItem</a></li>
                                                }
                                            </ul>
                                        </div>
                                        <input id="stateInput" type="text" name="plan" class="form-control" aria-label="..." value="@Model.Plan"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer row col-md-12 ">
                    <button class="btn btn-primary" id="ClearSearchForm" type="button">Clear</button>
                    <button class="btn btn-primary" id="ResetSearchForm" type="reset">Reset</button>
                    <button class="btn btn-primary" type="submit">Go</button>
                </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}