@model ReportOverviewApp.Models.ReportViewModels.ReportViewModel

<style>
    .dropdown-menu-scrollable{
        max-height: 30rem;
        overflow: auto;
    }
    input {
        max-width: 100%;
        min-width: 100%;
    }
</style>

        <form>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="text" id="SearchNameInput" class="form-control" name="search" placeholder="Enter Report Name" value="@Model.Search" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="date" class="form-control input-datepicker" id="beginDateInput" name="begin" placeholder="Enter Begin Date" value="@Model.DisplayDateTimeAsDate(Model.Begin)" />
                        </div>
                        <div class="col-sm-6">
                            <input type="date" class="form-control input-datepicker" id="endDateInput" name="end" placeholder="Enter End Date" value="@Model.DisplayDateTimeAsDate(Model.End)" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <div class="btn-group" style="min-width: 100%;">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Business Contact<span class="caret"></span></button>
                                        <div id="businessContactList" class="dropdown-menu dropdown-menu-scrollable">
                                            @foreach (var businessContactItem in Model.BusinessContacts.OrderBy(buinessContact => buinessContact))
                                            {
                                                <a class="dropdown-item">@businessContactItem</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <span class="input-group-btn" style="width: 100%;">
                                    <input id="businessContactInput" type="text" name="businessContact" class="form-control" aria-label="" value="@Model.BusinessContact" />
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <div class="btn-group" style="min-width: 100%;">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Business owner<span class="caret"></span></button>
                                        <div id="businessOwnerList" class="dropdown-menu dropdown-menu-scrollable">
                                            @foreach (var buinessOwnerItem in Model.BusinessOwners.OrderBy(buinessOwner => buinessOwner))
                                            {
                                                <a class="dropdown-item">@buinessOwnerItem</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <span class="input-group-btn" style="width: 100%;">
                                    <input id="businessOwnerInput" type="text" name="buisnessOwner" class="form-control" aria-label="" value="@Model.BusinessOwner" />
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <div class="btn-group" style="min-width: 100%;">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Frequency<span class="caret"></span></button>
                                        <div id="frequencyList" class="dropdown-menu dropdown-menu-scrollable">
                                            @foreach (var frequencyItem in Model.Frequencies.OrderBy(frequency => frequency))
                                            {
                                                <a class="dropdown-item">@frequencyItem</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <span class="input-group-btn" style="width: 100%;">
                                    <input id="frequencyInput" type="text" name="frequency" class="form-control" aria-label="Text Input For Frequency" value="@Model.Frequency" />
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <div class="btn-group" style="min-width: 100%;">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">State<span class="caret"></span></button>
                                        <div id="stateList" class="dropdown-menu dropdown-menu-scrollable">
                                            @foreach (var stateItem in Model.States.OrderBy(state => state))
                                            {
                                                <a class="dropdown-item">@stateItem</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <span class="input-group-btn" style="width: 100%;">
                                    <input id="stateInput" type="text" name="state" class="form-control" aria-label="..." value="@Model.State" />
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <div class="btn-group" style="min-width: 100%;">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Plan <span class="caret"></span></button>
                                        <div id="planList" class="dropdown-menu dropdown-menu-scrollable">
                                            @foreach (var planItem in Model.Plans.OrderBy(plan => plan))
                                            {
                                                <a class="dropdown-item">@planItem</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <span class="input-group-btn" style="width: 100%;">
                                    <input id="planInput" type="text" name="plan" class="form-control" aria-label="..." value="@Model.Plan" />
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <div class="btn-group" style="min-width: 100%;">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Source Department<span class="caret"></span></button>
                                        <div id="sourceDepartmentList" class="dropdown-menu dropdown-menu-scrollable">
                                            @foreach (var sourceDepartmentItem in Model.SourceDepartments.OrderBy(sourceDepartment => sourceDepartment))
                                            {
                                                <a class="dropdown-item">@sourceDepartmentItem</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <span class="input-group-btn" style="width: 100%;">
                                    <input id="sourceDepartmentInput" type="text" name="sourceDepartment" class="form-control" aria-label="" value="@Model.SourceDepartment" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="ClearSearchForm" type="button">Clear</button>
            <button class="btn btn-primary" id="ResetSearchForm" type="reset">Reset</button>
            <button class="btn btn-primary" type="submit">Go</button>
        </div>
               
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}