@model IEnumerable<ReportOverviewApp.Models.Report>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Done)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientNotified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateDone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateClientNotified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateSent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BusinessContact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BusinessOwner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Frequency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DayDue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryFunction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkInstructions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DaysAfterQuarter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FolderLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReportType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RunWith)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryMethod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryTo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EffectiveDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TerminationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GroupName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReportPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OtherDepartment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SourceDepartment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QualityIndicator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ERSReportLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ERRStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SystemRefreshDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LegacyReportID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LegacyReportIDR2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ERSReportName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OtherReportLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OtherReportName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientNotified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateClientNotified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryFunction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkInstructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysAfterQuarter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FolderLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunWith)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherDepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceDepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualityIndicator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ERSReportLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ERRStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemRefreshDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegacyReportID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegacyReportIDR2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ERSReportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherReportLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherReportName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
