@using ReportOverviewApp.Models.BusinessContactViewModels
@model TransferReportsViewModel
@{
    ViewData["Title"] = "Transfer Reports";
}
<h4>Transfer Reports</h4>
<hr />
<h6 style="padding-bottom: 1rem;">Highlight reports to transfer to another business contact.&nbsp;&nbsp;Selecting the same business contact will disable the options.</h6>
<form id="transferReportsForm" asp-action="TransferReports" asp-controller="BusinessContacts" method="post" asp-antiforgery="true">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="form-row">
            <label class="form-label col-md-7">Business Contact</label>
            <label class="form-label col-md-5">Business Contact</label>
        </div>
        <div class="form-row">
            <select id="owner" class="form-control businessContactSelect custom-select col-md-5" asp-for="First">
                @foreach (var businessContact in Model.BusinessContacts)
                {
                    <option value="@businessContact.Id">@businessContact.Name</option>
                }
            </select>
            <div class="form-group col-md-2">
            </div>
            <select id="recipient" class="form-control businessContactSelect custom-select col-md-5" asp-for="Second">
                @foreach (var businessContact in Model.BusinessContacts)
                {
                    <option value="@businessContact.Id">@businessContact.Name</option>
                }
            </select>

        </div>
        <div class="form-row" style="padding-bottom: 1rem;">
            <hr class="col-md-5" style="display: inline-block; text-align: left;" />
            <h6 id="loading" class="col-md-1 align-self-center" style="text-align: center; display: inline-block;">Reports</h6>
            <hr class="col-md-5" style="display: inline-block; text-align: right;" />
        </div>
        <div class="form-row" style="padding-bottom: 1rem;">
            <select id="ownerReports" asp-for="FirstReports" size="24" class="form-control col-md-5" multiple></select>

            <div class="form-group col-md-2 align-self-center">
                <div class="form-row" style="padding-bottom: 0.25rem;">
                    <span class="col-md-3"></span>
                    <button type="button" id="transferRight" class="btn btn-primary col-md-6"><i class="fas fa-arrow-right"></i></button>
                    <span class="col-md-3"></span>
                </div>
                <div class="form-row" style="padding-bottom: 0.25rem;">
                    <span class="col-md-3"></span>
                    <button type="button" id="transferSwap" class="btn btn-primary col-md-6"><i class="fas fa-exchange-alt"></i></button>
                    <span class="col-md-3"></span>
                </div>
                <div class="form-row">
                    <span class="col-md-3"></span>
                    <button type="button" id="transferLeft" class="btn btn-primary col-md-6"><i class="fas fa-arrow-left"></i></button>
                    <span class="col-md-3"></span>
                </div>
            </div>
            <select id="recipientReports" asp-for="SecondReports" size="24" class="form-control col-md-5" multiple></select>
        </div>
        <div class="form-row float-right">
            <button id="save" type="button" class="btn btn-primary float-right"><span><i class="fas fa-save"></i></span>&nbsp;Save</button>
        </div>
    </div>
</form>
<div style="padding-top: 3rem;" id="status"></div>

@section scripts{ 
<script src="~/js/BusinessContacts/TransferReports.js" type="text/javascript"></script>
}

