<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Report Tracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/toastr/toastr.css" />
    <link rel="stylesheet" href="~/lib/c3/c3.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/loading-io/loading/loading.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/loading-io/transition/transition.css" />
    @await Html.PartialAsync("_Theme")
    <style>
        .navbar {
            padding: 3px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="navbar-toggler navbar-toggler-up" type="button" style="padding: 2px 4px 2px 4px;" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                }
                else
                {
                    <button class="text-hide" type="button" style="padding: 2px 4px 2px 4px;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                }
                <span class="navbar navbar-text px-md-4">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Report Tracker</a>
                </span>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Reports" asp-action="Index">Reporting Catalogue</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Reports" asp-action="SelectPlan">Select Plan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Plans" asp-action="Index">View Plans</a>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink(linkText: "Upcoming Reports", actionName: "UpcomingReports", controllerName: "Reports", routeValues: new { }, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink(linkText: "Past Reports", actionName: "PastReports", controllerName: "Reports", routeValues: new { }, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink(linkText: "Business Contacts", actionName: "Index", controllerName: "BusinessContacts", routeValues: new { }, htmlAttributes: new { @class = "nav-link" })
                        </li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            }
        </div>
    </nav>
    <br />
    <br />
    <div class="container body-content">@RenderBody()</div>
    <div>@await Component.InvokeAsync("NToastNotify.Toastr")</div>
    @*<script src="~/lib/es6-shim/es6-shim.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/d3/d3.min.js"></script>
    <script src="~/lib/c3/c3.min.js"></script>
    <script src="~/lib/animejs/anime.min.js"></script>
    @*<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>*@
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>