@model ReportOverviewApp.Models.Plan

@{
    ViewData["Title"] = "Details";
}

<h4>@Model.Name</h4>
<hr />
<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WindwardId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WindwardId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State.Id)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>
