@model IEnumerable<ReportOverviewApp.Models.Plan>

@{
    ViewData["Title"] = "Plans";
}

<h4>
    Plans
    @*<button class="btn btn-primary" type="button" id="mag-glass" data-toggle="modal" data-target="#searchReportModal"><span class="fas fa-search"></span>&nbsp;&nbsp;Search</button>*@
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createReportModal" aria-label="Left Align"><span class="fas fa-plus-square"></span>&nbsp;&nbsp;Create New</button>
    @*@Html.ActionLink(linkText: "Update Deadlines", actionName: "UpdateDeadlinesAsync", controllerName: "Reports", routeValues: new { }, htmlAttributes: new { @id = "updateDeadlines", @class = "btn btn-primary" })
    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exportModal"><span class="fas fa-file-excel"></span>&nbsp;&nbsp;Export</button>*@
</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<hr />
<table class="table table-sm table-bordered table-striped table-hover ">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Id", "Index", new { sort = "Id" }, new { })
            </th>
            <th>
                @Html.ActionLink("Name", "Index", new { sort = "Name" }, new { })
            </th>

            <th>
                @Html.ActionLink("State", "Index", new { sort = "State" }, new { })
            </th>
            <th>
                @Html.ActionLink("Has Active Reports?", "Index", new { sort = "HasActiveReports" }, new { })
            </th>
            <th>
                @Html.ActionLink("Has Termed Reports?", "Index", new { sort = "HasTermedReports" }, new { })
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @**@
            <td>
                @item.State.Name
            </td>
            <td>
                @{var hasActiveReports = item.HasActiveReports ? "Yes" : "No";}
                @hasActiveReports
            </td>
            <td>

                @{var hasTermedReports = item.HasTermedReports ? "Yes" : "No";}
                @hasTermedReports
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
