@model ReportOverviewApp.Models.ReportViewModels.ReportViewModel


<style>
    input {
        max-width: 100%
    }

    textarea {
        max-width: 100%
    }
</style>
@if (Model == null || Model.Report == null)
{
    <div class="modal-header">
        <h5 class=" model-title">Error</h5>

    </div>
    <div class="modal-body">
        <h5>
            Something Went Wrong, Try Again.
        </h5>

    </div>
}
else
{
    <form asp-action="Create">
        <div class="modal-header"><h5 class="modal-title">Edit Report</h5></div>
        <div class="form-horizontal modal-body">
            <h6 class="font-italic">Report Name</h6>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Report.Name" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.Name)</label>
                <div class="col-md-12">
                    <input asp-for="Report.Name" class="form-control" />
                    <span asp-validation-for="Report.Name" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div>
                <h6 class="font-italic">Business Contact Information</h6>
                <div class="col-md-12">
                    <label>Select Business Contact</label>
                </div>
                <div class="form-row col-md-12">
                    <div class="form-group col-md-12">
                        <select asp-for="Report.BusinessContactId" class="form-control col-md-12">
                            @foreach (BusinessContact businessContactOption in Model.Options.BusinessContacts)
                            {
                                if (Model.Report.BusinessContact != null && businessContactOption == Model.Report.BusinessContact)
                                {
                                    <option selected class="bg-primary" value="@businessContactOption.Id">@businessContactOption.Name</option>
                                }
                                else
                                {
                                    <option value="@businessContactOption.Id">@businessContactOption.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <hr />
            <div>
                <h6 class="font-italic">Plan Information</h6>
                <div>
                    <div class="col-md-12">
                        <label>Selection</label>
                    </div>
                    <div class="form-row col-md-12">
                        <div class="form-group col-md-12">
                            <select size="6" asp-for="Plans" class="form-control col-md-12" multiple>
                                @foreach (Plan planOption in Model.Options.Plans)
                                {
                                    @if (Model.Report.ReportPlanMapping != null && Model.Report.ReportPlanMapping.Select(rpm => rpm.Plan).Any(p => p == planOption))
                                    {
                                        <option selected value="@planOption.Id">@planOption.Name</option>

                                    }
                                    else
                                    {
                                        <option value="@planOption.Id">@planOption.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <h6 class="font-italic">Deadline Information</h6>
            <div class="form-group">
                <label asp-for="Report.Frequency" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.Frequency)</label>
                <div class="col-md-12">
                    <select asp-for="Report.Frequency" class="form-control col-md-12">
                        @foreach (string frequency in Model.Options.Frequencies)
                        {
                            @if (frequency == Model.Report.Frequency)
                            {
                                <option selected>@frequency</option>

                            }
                            else
                            {
                                <option>@frequency</option>

                            }
                        }
                    </select>
                    <span asp-validation-for="Report.Frequency" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.DueDate1" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.DueDate1)</label>
                <div class="col-md-12">
                    <input asp-for="Report.DueDate1" class="form-control input-datepicker" />
                    <span asp-validation-for="Report.DueDate1" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.DueDate2" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.DueDate2)</label>
                <div class="col-md-12">
                    <input asp-for="Report.DueDate2" class="form-control input-datepicker" />
                    <span asp-validation-for="Report.DueDate2" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.DueDate3" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.DueDate3)</label>
                <div class="col-md-12">
                    <input asp-for="Report.DueDate3" class="form-control input-datepicker" />
                    <span asp-validation-for="Report.DueDate3" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.DueDate4" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.DueDate4)</label>
                <div class="col-md-12">
                    <input asp-for="Report.DueDate4" class="form-control input-datepicker" />
                    <span asp-validation-for="Report.DueDate4" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.DayDue" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.DayDue)</label>
                <div class="col-md-12">
                    <input type="text" asp-for="Report.DayDue" class="form-control" />
                    <span asp-validation-for="Report.DayDue" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.DaysAfterQuarter" class="col-md-6 control-label">@Html.DisplayNameFor(e => Model.Report.DaysAfterQuarter)</label>
                <div class="col-md-12">
                    <input type="text" asp-for="Report.DaysAfterQuarter" class="form-control" />
                    <span asp-validation-for="Report.DaysAfterQuarter" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <h6 class="font-italic">Instructions &amp; Notes</h6>
            <div class="form-group">
                <label asp-for="Report.WorkInstructions" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.WorkInstructions)</label>
                <div class="col-md-12">
                    <textarea asp-for="Report.WorkInstructions" class="form-control" rows="10"></textarea>
                    <span asp-validation-for="Report.WorkInstructions" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.Notes" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.Notes)</label>
                <div class="col-md-12">
                    <textarea asp-for="Report.Notes" class="form-control" rows="10"></textarea>
                    <span asp-validation-for="Report.Notes" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.RunWith" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.RunWith)</label>
                <div class="col-md-12">
                    <input asp-for="Report.RunWith" class="form-control" />
                    <span asp-validation-for="Report.RunWith" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <h6 class="font-italic">Delivery Information</h6>
            <div class="form-group">
                <label asp-for="Report.DeliveryFunction" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.DeliveryFunction)</label>
                <div class="col-md-12">
                    <input asp-for="Report.DeliveryFunction" class="form-control" />
                    <span asp-validation-for="Report.DeliveryFunction" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.DeliveryMethod" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.DeliveryMethod)</label>
                <div class="col-md-12">
                    <input asp-for="Report.DeliveryMethod" class="form-control" />
                    <span asp-validation-for="Report.DeliveryMethod" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.DeliverTo" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.DeliverTo)</label>
                <div class="col-md-12">
                    <input asp-for="Report.DeliverTo" class="form-control" />
                    <span asp-validation-for="Report.DeliverTo" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <h6 class="font-italic">Date Information</h6>
            <div class="form-group">
                <label asp-for="Report.EffectiveDate" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.EffectiveDate)</label>
                <div class="col-md-12">
                    <input asp-for="Report.EffectiveDate" class="form-control input-datepicker" />
                    <span asp-validation-for="Report.EffectiveDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.TerminationDate" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.TerminationDate)</label>
                <div class="col-md-12">
                    <input asp-for="Report.TerminationDate" class="form-control input-datepicker" />
                    <span asp-validation-for="Report.TerminationDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.DateAdded" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.DateAdded)</label>
                <div class="col-md-12">
                    <input asp-for="Report.DateAdded" class="form-control input-datepicker" />
                    <span asp-validation-for="Report.DateAdded" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.SystemRefreshDate" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.SystemRefreshDate)</label>
                <div class="col-md-12">
                    <input asp-for="Report.SystemRefreshDate" class="form-control input-datepicker" />
                    <span asp-validation-for="Report.SystemRefreshDate" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <h6 class="font-italic">Report Information (Continued)</h6>
            <div class="form-group">
                <label asp-for="Report.SourceDepartment" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.SourceDepartment)</label>
                <div class="col-md-12">
                    <input asp-for="Report.SourceDepartment" class="form-control" />
                    <span asp-validation-for="Report.SourceDepartment" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.ReportPath" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.ReportPath)</label>
                <div class="col-md-12">
                    <input asp-for="Report.ReportPath" class="form-control" />
                    <span asp-validation-for="Report.ReportPath" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.FolderLocation" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.FolderLocation)</label>
                <div class="col-md-12">
                    <input asp-for="Report.FolderLocation" class="form-control" />
                    <span asp-validation-for="Report.FolderLocation" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.ERSReportLocation" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.ERSReportLocation)</label>
                <div class="col-md-12">
                    <input asp-for="Report.ERSReportLocation" class="form-control" />
                    <span asp-validation-for="Report.ERSReportLocation" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.ERSReportName" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.ERSReportName)</label>
                <div class="col-md-12">
                    <input asp-for="Report.ERSReportName" class="form-control" />
                    <span asp-validation-for="Report.ERSReportName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.OtherReportLocation" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.OtherReportLocation)</label>
                <div class="col-md-12">
                    <input asp-for="Report.OtherReportLocation" class="form-control" />
                    <span asp-validation-for="Report.OtherReportLocation" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.OtherReportName" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.OtherReportName)</label>
                <div class="col-md-12">
                    <input asp-for="Report.OtherReportName" class="form-control" />
                    <span asp-validation-for="Report.OtherReportName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.ReportType" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.ReportType)</label>
                <div class="col-md-12">
                    <input asp-for="Report.ReportType" class="form-control" />
                    <span asp-validation-for="Report.ReportType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row col-md-12">
                <div class="form-group">
                    <div class="checkbox">
                        <input type="checkbox" asp-for="Report.IsQualityIndicator" />
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Report.IsQualityIndicator">@Html.DisplayNameFor(e => Model.Report.IsQualityIndicator)</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.ERRStatus" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.ERRStatus)</label>
                <div class="col-md-12">
                    <input asp-for="Report.ERRStatus" class="form-control" />
                    <span asp-validation-for="Report.ERRStatus" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Report.LegacyReportID" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.LegacyReportID)</label>
                <div class="col-md-12">
                    <input asp-for="Report.LegacyReportID" class="form-control" />
                    <span asp-validation-for="Report.LegacyReportID" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Report.LegacyReportIDR2" class="col-md-4 control-label">@Html.DisplayNameFor(e => Model.Report.LegacyReportIDR2)</label>
                <div class="col-md-12">
                    <input asp-for="Report.LegacyReportIDR2" class="form-control" />
                    <span asp-validation-for="Report.LegacyReportIDR2" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
}
