@{
    ViewData["Title"] = "Home Page";
}

@model ReportOverviewApp.Models.HomeViewModels.HomeViewModel
@*model of view needs to be changed to a bigger viewmodel*@

<style>
    .caption-widget{
        text-align: center;
    }
    .widget-option-menu{
        text-align: left;
    }
</style>
<h3 class="page-header">
    Overview (Home Page)
</h3>

<div class="wigets-group">
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true">
                        <span class="glyphicon glyphicon-menu-hamburger widget-option-menu"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Edit Actions</a></li>
                        <li><a href="#">Change Color</a></li>
                        <li><a href="#">Copy Widget</a></li>
                        <li><a href="#">Delete Widget</a></li>
                    </ul>
                </div>
                <div class="caption caption-widget">
                    <h3>Total Reports</h3>
                    <h1>@Html.ActionLink(@Model?.Reports?.Count().ToString(), "../Reports/Index", new { }) </h1>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true">
                        <span class="glyphicon glyphicon-menu-hamburger widget-option-menu"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Edit Actions</a></li>
                        <li><a href="#">Change Color</a></li>
                        <li><a href="#">Copy Widget</a></li>
                        <li><a href="#">Delete Widget</a></li>
                    </ul>
                </div>
                <div class="caption caption-widget">
                    <h3>Upcoming Reports (1 Week)</h3>
                    <h1>@Html.ActionLink(@Model.Reports.Where(r => r.Deadline() != null).Where( r => r.Deadline() >= DateTime.Today).Where(r => r.Deadline() <= DateTime.Today.AddDays(7)).Count().ToString(), "../Reports/Index", new {begin=DateTime.Today, end=DateTime.Today.AddDays(7) })</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true">
                        <span class="glyphicon glyphicon-menu-hamburger widget-option-menu"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Edit Actions</a></li>
                        <li><a href="#">Change Color</a></li>
                        <li><a href="#">Copy Widget</a></li>
                        <li><a href="#">Delete Widget</a></li>
                    </ul>
                </div>
                <div class="caption caption-widget">
                    <h3>Reports Due Today</h3>
                    <h1>@Html.ActionLink(@Model.Reports.Where(r => r.Deadline() != null).Where(r => r.Deadline() == DateTime.Today).Count().ToString(), "../Reports/Index", new { begin=DateTime.Today, end=DateTime.Today })</h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        @*@await Html.PartialAsync("_Widget")*@
        @*<div class="widget-container col-sm-12">
            @foreach (var item in Model.Widgets)
            {
                <div class="widget-item col-sm-4">
                    @await Html.PartialAsync("_Widget", item)
                </div>
            }
        </div>*@
    </div>
</div>
@*<div class="wigdet-container">
    @await Html.PartialAsync("..\\Widgets\\Index", data.Widget)
</div>*@
