@model ReportOverviewApp.Models.ReportViewModels.ReportViewModel

<div id="businessContactInformation">
    <h6 class="font-italic">Business Contact Information</h6>
    <div class="col-md-12">
        <label>Selection</label>
    </div>
    <div class="form-row col-md-12">
        <div class="form-group col-md-10">
            <select id="businessContactSelectList" class="form-control col-md-12">
                @foreach (BusinessContact businessContactOption in Model.Options.BusinessContacts)
                {
                    if (businessContactOption == Model.Report.BusinessContact)
                    {
                        <option disabled class="bg-primary">@businessContactOption.Name</option>
                    }
                    else
                    {
                        <option>@businessContactOption.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-2">
            <button type="button" id="businessContactSelectButton" class="btn btn-primary btn-block"><i id="businessContactSelectButtonIcon" class="fa fa-check-square-o"></i>&nbsp;&nbsp;Select</button>
        </div>
    </div>
    <div class="col-md-12">
        <label>Assigned Business Contact</label>
    </div>
    <div id="businessContactCard">
        @if (Model.Report != null && Model.Report.BusinessContact != null && Model.Report.BusinessContactId != null)
        {
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header btn-group btn-block" style="height: 3rem;">
                        <p class="text-center card-title" style="display: inline;">@Model.Report.BusinessContact.Name</p>
                        <button id="businessContactRemoveButton" type="button" class="btn btn-primary" style="height:inherit; max-height:inherit; min-height:inherit; top: 0px; bottom: inherit; position:absolute; right: 0px;"><i class="fa fa-remove"></i></button>
                    </div>
                    <div class="card-body">
                        <div class="form-row col-md-12">
                            <div class="form-group col-md-2">
                                <label asp-for="Report.BusinessContact.Id" class="control-label">ID</label>
                                <input class="form-control" type="number" asp-for="Report.BusinessContactId" readonly />
                                <span asp-validation-for="Report.BusinessContact.Id" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Report.BusinessContact.Name" class="control-label">Name</label>
                                <input id="editReport_businessContact" asp-for="Report.BusinessContact.Name" class="form-control" readonly />
                                <span asp-validation-for="Report.BusinessContact.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="Report.BusinessContact.BusinessOwner" class="control-label">Business Owner</label>
                                <input id="editReport_businessOwner" asp-for="Report.BusinessContact.BusinessOwner" class="form-control" readonly />
                                <span asp-validation-for="Report.BusinessContact.BusinessOwner" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="form-group col-md-12">
                <h6 class="list-group-item list-group-item-warning">No Business Contacts Found</h6>
            </div>
        }
    </div>
    <script>
    $('#businessContactSelectButton').click(function () {
        $('#businessContactSelectButtonIcon').removeClass();
        $('#businessContactSelectButtonIcon').addClass('fa fa-refresh text-light ld ld-spin');
        $.get("/Reports/SelectBusinessContact?id=" + @Model.Report.Id + "&name=" + $('#businessContactSelectList option:selected').text(), function (data) {
            $('#businessContactCard').fadeOut(500, function () {
                $('#businessContactInformation').html(data);
                $('#businessContactCard').hide(0, function () {
                    $('#businessContactCard').fadeIn(500);
                });
            });
        });
    });
    $('#businessContactRemoveButton').click(function () {
        $('#businessContactCard').slideUp(250, function () {
            $('#businessContactCard').remove();
            $.get("/Reports/SelectBusinessContact?id=" + @Model.Report.Id + "&removal=" + "true", function (data) {
                $('#businessContactInformation').html(data);
                $('#businessContactCard').hide(0, function () {
                    $('#businessContactCard').show(500);
                });

            });
        });
    });
    </script>

</div>



@section scripts {
    
    <script src="~/js/ReportsHandler.js" type="text/javascript"></script>
}